@charset "UTF-8";
/* Auto compilar */
/* sass --watch scss:css */
/* 1. Abstracts */
/* 2. Base */
/* ROBOTO */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* ANTON */
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #1a1a1a;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

p {
  margin-bottom: 1rem;
}

/* 3. Layout */
.custom-logo {
  width: 170px;
  height: auto;
  display: block;
}
@media (max-width: 599px) {
  .custom-logo {
    width: 150px;
  }
}

.wp-block-navigation__responsive-container-content .wp-block-navigation li.main-btns {
  width: 145px;
  text-transform: none;
  justify-content: center;
}
@media (max-width: 768px) {
  .wp-block-navigation__responsive-container-content .wp-block-navigation li.main-btns {
    width: 130px;
  }
}

.header-custom {
  min-width: 130px;
  margin: 0 auto;
  padding-inline: 0;
  justify-content: center;
  background: linear-gradient(90deg, #d51116 0%, #f6a307 100%);
}
.header-custom img {
  width: 150px;
  padding: 20px 0;
}

.bottom-header {
  max-width: 1165px !important;
  min-width: 130px;
  margin: 0 auto;
  padding-inline: 0;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .bottom-header {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 900px !important;
  }
}

@media (max-width: 1200px) {
  .ul.wp-block-navigation__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    max-width: 550px;
  }
}
@media (max-width: 768px) {
  .wp-block-navigation li.main-btns {
    font-size: 14px !important;
  }
}
@media (max-width: 599px) {
  .wp-block-navigation li.main-btns {
    font-size: 20px !important;
    text-align: right !important;
    max-width: 250px;
  }
}
/* =========================
   DESKTOP (1200px +)
========================= */
@media (min-width: 1200px) {
  /* menú horizontal visible */
  .wp-block-navigation__container {
    display: flex;
  }
  /* ocultar hamburguesa */
  .wp-block-navigation__responsive-container-open {
    display: none;
  }
  /* por las dudas */
  .wp-block-navigation__responsive-container {
    display: none;
  }
}
/* =========================
     TABLET & MOBILE (<1200px)
  ========================= */
@media (max-width: 1199px) {
  /* ocultar menú horizontal */
  .wp-block-navigation__container {
    display: none;
  }
  /* mostrar hamburguesa */
  .wp-block-navigation__responsive-container-open {
    display: flex;
    align-items: center;
  }
}
@media (max-width: 1200px) {
  .wp-block-navigation__responsive-container-open:not(.always-shown) {
    display: block;
  }
}
html.has-modal-open .wp-block-navigation__container.is-responsive.items-justified-right.ul-btns-header.wp-block-navigation {
  align-items: center !important;
  width: 100% !important;
  flex-direction: row !important;
  justify-content: center !important;
}
html.has-modal-open .wp-block-navigation__container.is-responsive.items-justified-right.ul-btns-header.wp-block-navigation .wp-block-navigation-item.main-btns.wp-block-navigation-link {
  /* Gradient border */
  background-image: linear-gradient(white, white), linear-gradient(90deg, #FF0000 0%, #FF9400 100%) !important;
  background-origin: border-box !important;
  background-clip: padding-box, border-box !important;
  width: 100% !important;
  max-width: none !important;
  flex-direction: row !important;
  text-align: center !important;
  padding: 0 !important;
  align-items: center !important;
}

.wp-block-navigation__responsive-container-open svg,
.wp-block-navigation__responsive-container-close svg {
  width: 36px;
  height: 36px;
}

.wp-block-navigation__responsive-container-open svg path,
.wp-block-navigation__responsive-container-close svg path {
  transform: scaleY(1.4);
  transform-origin: center;
}

/* SWITCHER */
.wpml-language-switcher-navigation-block.wpml-ls-dropdown ul,
.wpml-language-switcher-navigation-block.wpml-ls-dropdown li {
  display: flex;
  align-items: center;
  font-size: 24px;
}

/* FOOTER STYLES */
footer {
  background-color: rgb(250, 250, 250);
  padding-bottom: 20px;
}
footer h3 {
  color: #EA0000;
  padding: 50px 0 30px;
  font-size: 32px;
  margin-bottom: 0;
}
@media (max-width: 568px) {
  footer h3 {
    font-size: 24px;
  }
}
footer p {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  max-width: 1200px;
  display: block;
  margin: 0 auto;
}
@media (max-width: 768px) {
  footer p {
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
    line-height: 1;
  }
}
@media (max-width: 568px) {
  footer p {
    font-size: 20px;
  }
}
footer .footer-grid {
  width: 100%;
  margin: 0 auto;
}
footer .footer-grid .add-wsp {
  display: flex;
  flex-direction: column;
}
footer .footer-grid .add-wsp img {
  max-width: 150px;
}
footer .footer-grid .email,
footer .footer-grid .phone,
footer .footer-grid .schedule {
  padding-top: 35px;
}
@media (max-width: 767px) {
  footer .footer-grid .email,
  footer .footer-grid .phone,
  footer .footer-grid .schedule {
    padding-top: 0;
  }
}
footer .footer-grid .main-btns {
  height: auto;
}
@media (max-width: 767px) {
  footer .footer-grid .main-btns {
    padding: 10px 10px;
  }
}
@media (max-width: 767px) {
  footer .footer-grid .footer-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  footer .footer-grid .wsp-title {
    order: 1;
  }
  footer .footer-grid .add-wsp {
    order: 2;
  }
  footer .footer-grid .escriu-title {
    order: 3;
  }
  footer .footer-grid .email {
    order: 4;
  }
  footer .footer-grid .truca-title {
    order: 5;
  }
  footer .footer-grid .phone {
    order: 6;
  }
  footer .footer-grid .horari-title {
    order: 7;
  }
  footer .footer-grid .schedule {
    order: 8;
  }
}
footer .footer-grid.titles {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  padding: 20px 0 20px;
}
@media (max-width: 767px) {
  footer .footer-grid.titles {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
footer .footer-grid.titles p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
}
footer .footer-grid.titles p.wsp-title::before, footer .footer-grid.titles p.escriu-title::before, footer .footer-grid.titles p.truca-title::before, footer .footer-grid.titles p.horari-title::before {
  content: "";
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
}
footer .footer-grid.titles p.wsp-title.wsp-title::before, footer .footer-grid.titles p.escriu-title.wsp-title::before, footer .footer-grid.titles p.truca-title.wsp-title::before, footer .footer-grid.titles p.horari-title.wsp-title::before {
  background-image: url("../img/wsp.png");
}
footer .footer-grid.titles p.wsp-title.escriu-title::before, footer .footer-grid.titles p.escriu-title.escriu-title::before, footer .footer-grid.titles p.truca-title.escriu-title::before, footer .footer-grid.titles p.horari-title.escriu-title::before {
  background-image: url("../img/mail.png");
}
footer .footer-grid.titles p.wsp-title.truca-title::before, footer .footer-grid.titles p.escriu-title.truca-title::before, footer .footer-grid.titles p.truca-title.truca-title::before, footer .footer-grid.titles p.horari-title.truca-title::before {
  background-image: url("../img/phone.png");
}
footer .footer-grid.titles p.wsp-title.horari-title::before, footer .footer-grid.titles p.escriu-title.horari-title::before, footer .footer-grid.titles p.truca-title.horari-title::before, footer .footer-grid.titles p.horari-title.horari-title::before {
  background-image: url("../img/clock.png");
}
footer .footer-grid.info {
  max-width: 1200px;
  display: grid;
  grid-template-columns: 0.3fr 0.5fr 1fr 1fr 1fr;
  align-items: center;
}
footer .footer-grid.info p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  max-width: 150px;
}
footer .footer-grid.info p.main-btns.body-btns {
  font-size: 16px;
  max-width: 140px;
  text-transform: none;
  height: auto;
  padding: 9px 17px;
}
footer .footer-grid.logos {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0px;
  align-items: center;
}
footer .footer-grid.logos img {
  max-width: 150px;
}
@media (max-width: 767px) {
  footer .footer-grid.logos {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: revert;
    padding: 0 50px 0;
  }
}

footer .wp-block-template-part {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: left;
}

@media (max-width: 900px) {
  .footer-grid.titles,
  .footer-grid.info,
  .footer-grid.logos {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .footer-grid.titles,
  .footer-grid.info,
  .footer-grid.logos {
    grid-template-columns: 1fr;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .footer-grid.titles,
  .footer-grid.info,
  .footer-grid.logos {
    grid-template-columns: 1fr;
    text-align: left;
  }
}
/* 4. Components */
.wp-block-navigation li.main-btns {
  background: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 2px 14px;
  max-width: 183px;
  text-align: center;
  height: 48px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: normal;
  /* Gradient border */
  background-image: linear-gradient(white, white), linear-gradient(90deg, #FF0000 0%, #FF9400 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.wp-block-navigation li.main-btns:hover {
  background-image: linear-gradient(90deg, #FF0000 0%, #FF9400 100%);
  color: white;
}
.wp-block-navigation li.main-btns a {
  text-decoration: none;
  color: inherit;
}

.main-btns {
  background: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 2px 14px;
  max-width: 183px;
  text-align: center;
  height: 48px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: normal;
  /* Gradient border */
  background-image: linear-gradient(white, white), linear-gradient(90deg, #FF0000 0%, #FF9400 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.main-btns:hover {
  background-image: linear-gradient(90deg, #FF0000 0%, #FF9400 100%);
  color: white;
}
.main-btns a {
  text-decoration: none;
  color: inherit;
}

.main-btns a {
  border: none;
  padding: 0;
}
.main-btns a:focus-visible, .main-btns a:focus {
  outline: 2px solid transparent;
  box-shadow: none;
}

.main-btns.body-btns {
  font-size: 20px;
  padding: 0px 28px;
  background-image: linear-gradient(90deg, #d51116 0%, #f6a307 100%);
  color: white;
  width: 244px;
}
.main-btns.body-btns:hover {
  background-image: linear-gradient(white, white), linear-gradient(90deg, #d51116 0%, #f6a307 100%);
  color: black;
}
.main-btns.body-btns a:hover {
  background-color: white !important;
}
.main-btns.body-btns a:focus-visible {
  outline: none !important;
}

/* POST CARDS */
.ultimes-not-home .post-not-card {
  width: 313px;
  padding: 10px !important;
}
.ultimes-not-home .post-not-card .wp-block-post-title {
  display: block !important;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  text-transform: none;
  text-align: left;
  background-image: none;
  color: black;
  padding: 0;
  margin-bottom: 10px !important;
}
.ultimes-not-home .post-not-card .wp-block-post-excerpt__excerpt {
  margin-bottom: 0;
  margin-top: 0;
  height: 80px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  padding-bottom: 20px;
}

.wp-block-post-excerpt__more-link {
  background: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  padding: 2px 14px;
  max-width: 183px;
  text-align: center;
  height: 48px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  line-height: normal;
  /* Gradient border */
  background-image: linear-gradient(white, white), linear-gradient(90deg, #FF0000 0%, #FF9400 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
.wp-block-post-excerpt__more-link:hover {
  background-image: linear-gradient(90deg, #FF0000 0%, #FF9400 100%);
  color: white;
}
.wp-block-post-excerpt__more-link a {
  text-decoration: none;
  color: inherit;
}
.wp-block-post-excerpt__more-link {
  font-size: 20px;
  padding: 10px 5px;
  background-image: linear-gradient(90deg, #d51116 0%, #f6a307 100%);
  color: white;
  width: 244px;
  height: auto;
  text-decoration: none;
  font-size: 16px;
}
.wp-block-post-excerpt__more-link:hover {
  background-image: linear-gradient(white, white), linear-gradient(90deg, #d51116 0%, #f6a307 100%);
  color: black;
  text-decoration: none;
}

.wp-block-post-date {
  display: none;
}

h2.wp-block-heading {
  margin-bottom: 55px !important;
}

/* AGENDA CARD */
.agenda-card {
  width: 313px;
  height: 250px;
  padding: 10px !important;
}

/* BORRAR CUANDO LAS TARJETAS LLEVEN IMG */
.home-section-agenda .agenda-home-grid h3 {
  height: auto !important;
}

.home-section-agenda .agenda-home-grid {
  grid-template-columns: repeat(4, 1fr) !important;
}

h2 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(90deg, #FF0000 0%, #FF9400 100%);
  color: white;
  padding: 59px 39px;
  margin-bottom: 120px !important;
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
    padding: 40px 39px;
  }
}

.wp-block-post-title {
  display: none;
}

.wp-block-group.alignfull.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.wp-block-group.has-background-background-color.has-background.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* HERO SECTION  */
h1.wp-block-heading {
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 82px;
  text-align: left;
  position: absolute;
  top: -160px;
  width: 700px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1;
}
h1.wp-block-heading span.title-highlight {
  color: #EA0000;
}
@media (max-width: 1200px) {
  h1.wp-block-heading {
    position: relative;
    font-size: 75px;
    width: auto;
    top: 0;
    text-align: center;
    width: 900px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  h1.wp-block-heading {
    font-size: 65px;
    width: 100%;
  }
}
@media (max-width: 530px) {
  h1.wp-block-heading {
    font-size: 45px;
  }
}

.home-section-descobreix {
  display: flex;
  padding: 0 30px;
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 0 !important;
  padding: 0 !important;
}
.home-section-descobreix.recollida {
  justify-content: center;
}
@media (max-width: 1200px) {
  .home-section-descobreix {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.home-section-descobreix > * {
  margin: 0 !important;
}
@media (max-width: 1200px) {
  .home-section-descobreix > * {
    margin: auto !important;
  }
}

.inside-container-descobreix {
  padding-bottom: 45px;
  position: relative;
}
@media (max-width: 1200px) {
  .inside-container-descobreix {
    padding-bottom: 0;
  }
}
.inside-container-descobreix div {
  margin: 0 !important;
}
@media (max-width: 1200px) {
  .inside-container-descobreix div {
    margin: auto !important;
  }
}
.inside-container-descobreix .item-1-descobreix {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}
@media (max-width: 1200px) {
  .inside-container-descobreix .item-1-descobreix {
    text-align: center;
    font-size: 24px;
    line-height: 1;
    padding-bottom: 20px;
  }
}
@media (max-width: 568px) {
  .inside-container-descobreix .item-1-descobreix {
    font-size: 19px;
  }
}

/* BINS */
.bin-container figure.wp-block-gallery {
  justify-content: center;
}
@media (max-width: 1200px) {
  .bin-container figure.wp-block-gallery {
    max-width: 700px;
    margin: auto;
  }
}
@media (max-width: 520px) {
  .bin-container figure.wp-block-gallery {
    flex-direction: column;
    align-items: center;
  }
}
.bin-container figure.wp-block-gallery .bin {
  max-width: 190px !important;
  height: 155px;
  background-color: rgb(250, 250, 250);
}
.bin-container figure.wp-block-gallery .bin img {
  object-fit: none !important;
  padding-bottom: 26px;
}
.bin-container figure.wp-block-gallery .bin.brown img {
  object-fit: contain !important;
}

/* cliclkeable elements */
.clickable-img:focus-within,
.clickable-img a:focus,
.clickable-img a:focus-visible {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

.wp-block-site-logo a:focus,
.wp-block-site-logo a:focus-visible {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

summary:focus-within,
summary:focus,
summary:focus-visible {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

/* CLASS FOR DISPLAY NONE  */
.display-none {
  display: none !important;
}

/* 5. Pages */
/* HOME AND MAIN PAGES TEMPLATE STYLES */
/* HOME SECTION VIDEO */
.home-section-video {
  padding-top: 0 !important;
}

/* HOME SECTION RESIDU */
.home-section-residu h2 {
  background-image: none;
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 85px;
  text-align: center;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1;
  color: #EA0000;
  padding-top: 70px !important;
  margin-bottom: 0 !important;
  padding-bottom: 31px;
}
@media (max-width: 1200px) {
  .home-section-residu h2 {
    font-size: 75px;
  }
}
@media (max-width: 768px) {
  .home-section-residu h2 {
    font-size: 55px;
    padding-top: 50px !important;
  }
}
@media (max-width: 568px) {
  .home-section-residu h2 {
    font-size: 45px;
  }
}
.home-section-residu .residu-h3 {
  font-size: 45px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  padding-bottom: 65px;
}
@media (max-width: 768px) {
  .home-section-residu .residu-h3 {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 35px;
  }
}
.home-section-residu .residu-h3 {
  letter-spacing: 0;
  padding-bottom: 65px;
}

.bin {
  border-radius: 5px;
  border: solid 2px;
  border-color: rgb(250, 250, 250);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.bin figcaption {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  font-size: 24px !important;
  font-family: "Anton", sans-serif;
  font-weight: bold;
  color: rgb(250, 250, 250);
  padding: 5px !important;
  text-shadow: none !important;
}
.bin.brown figcaption {
  background: linear-gradient(90deg, #9f6c51 0%, #5d3313 100%) !important;
}
.bin.brown img {
  object-fit: contain !important;
}
.bin.green figcaption {
  background: linear-gradient(90deg, #42a650 0%, #0f704d 100%) !important;
}
.bin.blue figcaption {
  background: linear-gradient(90deg, #317fc2 0%, #253c8a 100%) !important;
}
.bin.yellow figcaption {
  background: linear-gradient(90deg, #eec912 0%, #d27212 100%) !important;
}
.bin.gray figcaption {
  background: linear-gradient(90deg, #5c6569 0%, #888989 100%) !important;
}

/* FASE DOS */
.home-section-residu-fasedos {
  display: none;
}

/* HOME SECTION PAS A PAS */
.home-section-pasapas {
  padding: 96px 0 92px;
}
.home-section-pasapas .residu-h3 {
  font-size: 45px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  padding-bottom: 65px;
}
@media (max-width: 768px) {
  .home-section-pasapas .residu-h3 {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 35px;
  }
}
.home-section-pasapas .residu-h3 {
  color: #EA0000;
  padding-bottom: 20px;
}
.home-section-pasapas p {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: normal;
  padding-bottom: 20px;
  max-width: 500px;
}
@media (max-width: 767px) {
  .home-section-pasapas p {
    font-size: 24px;
    padding: 0 20px 0;
  }
}
@media (max-width: 567px) {
  .home-section-pasapas p {
    font-size: 18px;
    padding: 0 20px 0;
  }
}

/* HOME SECTION VIDEO */
.home-section-video {
  padding: 96px 0 92px;
}
.home-section-video .residu-h3 {
  font-size: 45px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: bold;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
  padding-bottom: 65px;
}
@media (max-width: 768px) {
  .home-section-video .residu-h3 {
    padding-left: 40px;
    padding-right: 40px;
    font-size: 35px;
  }
}
.home-section-video .residu-h3 {
  color: #EA0000;
}

/* HOME SECTION NEWS */
.ultimes-not-home {
  max-width: 1200px;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  display: block !important;
  margin: auto !important;
  padding-bottom: 55px !important;
}

/* HOME SECTION AGENDA */
.arrow {
  display: none;
}
@media (max-width: 767px) {
  .arrow {
    display: block;
  }
}

.home-section-agenda h3.residu-h3 {
  width: 100%;
  max-width: 1200px;
  font-family: "Anton", sans-serif;
  padding: 20px 0 0;
  display: block;
  margin: auto;
}
.home-section-agenda .agenda-home-grid {
  max-width: 1200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 20px 0 0;
}
.home-section-agenda .agenda-home-grid h3 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  height: 80px;
  margin-bottom: 0;
}
.home-section-agenda .agenda-home-grid ul {
  list-style: none;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0;
  margin: 0;
}
@media (max-width: 767px) {
  .home-section-agenda .agenda-home-grid {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 0;
    padding-bottom: 10px;
  }
  .home-section-agenda .agenda-card {
    min-width: 85%;
    scroll-snap-align: start;
    flex-shrink: 0;
  }
  .home-section-agenda .agenda-home-grid {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE */
  }
  .home-section-agenda .agenda-home-grid::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari */
  }
}

@supports selector(::scroll-button(*)) {
  .abcs::scroll-button(left),
  .abcs::scroll-button(right) {
    background-color: #EA0000;
    border: none;
    width: 60px;
    height: 60px;
  }
  .abcs::scroll-button(left):hover,
  .abcs::scroll-button(right):hover {
    background-color: #f6a307;
  }
  .abcs::scroll-button(left) {
    left: -50px;
    right: 50px;
  }
  @media (max-width: 767px) {
    .abcs::scroll-button(right) {
      margin-right: 35px;
    }
  }
}
body.home .home-section-descobreix .main-btns {
  margin-top: 25px !important;
}
body.home .wp-block-gallery {
  padding-bottom: 0;
}

/* agenda arrow  */
.agenda-home-grid-container {
  max-width: 1200px;
  margin: auto;
}
.agenda-home-grid-container .arrow-direction::before {
  display: none;
}
@media (max-width: 767px) {
  .agenda-home-grid-container .arrow-direction::before {
    display: block;
    content: "⇢";
    position: absolute;
    left: 45%;
    right: 0;
    top: 95%;
    transform: translateY(-50%);
    font-size: 4.2em;
  }
}

/* Specific styles adjustmentes for each page */
/* PAGE RECOLLIDA */
body.page-coneix-el-sistema-de-recollida h2.recollida-h2,
body.page-pas-a-pas h2.recollida-h2 {
  font-size: 55px;
  padding-top: 15px !important;
}
@media (max-width: 568px) {
  body.page-coneix-el-sistema-de-recollida h2.recollida-h2,
  body.page-pas-a-pas h2.recollida-h2 {
    font-size: 45px;
  }
}
body.page-coneix-el-sistema-de-recollida h3.residu-h3.recollida-h3,
body.page-pas-a-pas h3.residu-h3.recollida-h3 {
  text-align: center;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 1200px;
  text-transform: none;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  body.page-coneix-el-sistema-de-recollida h3.residu-h3.recollida-h3,
  body.page-pas-a-pas h3.residu-h3.recollida-h3 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 24px;
  }
}
@media (max-width: 1200px) {
  body.page-coneix-el-sistema-de-recollida .separator-recollida,
  body.page-pas-a-pas .separator-recollida {
    display: none;
  }
}

body.page-coneix-el-sistema-de-recollida h1 {
  top: -184px;
}
@media (max-width: 1200px) {
  body.page-coneix-el-sistema-de-recollida h1 {
    top: 0;
  }
}

.wp-block-gallery.has-nested-images {
  padding-bottom: 56px;
}
.wp-block-gallery.has-nested-images figure.wp-block-image.bin.yellow img {
  object-fit: contain !important;
}

body.page-coneix-el-sistema-de-recollida .special-h2-targeta {
  background-image: none;
  color: #EA0000;
  font-size: 55px;
  font-family: "Anton", sans-serif;
  padding: 40px 0 0;
  /* para la versión video borrar la línea de abajo  */
  margin-bottom: 0 !important;
}

.ul-iframe,
.iframe-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px !important;
  margin: auto !important;
  /* para versión con video en vez de foto  */
}
@media (max-width: 1200px) {
  .ul-iframe,
  .iframe-ul {
    flex-direction: column;
  }
}
.ul-iframe .wp-block-image img,
.iframe-ul .wp-block-image img {
  max-width: 300px;
  padding-top: 120px;
}
@media (max-width: 1200px) {
  .ul-iframe .wp-block-image img,
  .iframe-ul .wp-block-image img {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .ul-iframe .wp-block-image img,
  .iframe-ul .wp-block-image img {
    max-width: 200px;
  }
}
.ul-iframe div.wp-block-group,
.iframe-ul div.wp-block-group {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.ul-iframe figure.wp-block-embed.is-type-video.is-provider-youtube.wp-block-embed-youtube,
.iframe-ul figure.wp-block-embed.is-type-video.is-provider-youtube.wp-block-embed-youtube {
  width: 25%;
  height: auto;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.ul-iframe h4,
.iframe-ul h4 {
  font-family: "Anton", sans-serif;
  font-size: 32px;
  color: #EA0000;
  line-height: 35px;
  letter-spacing: 0;
  margin-bottom: 25px;
}
.ul-iframe li,
.iframe-ul li {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
  letter-spacing: 0;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .ul-iframe li,
  .iframe-ul li {
    margin-bottom: 20px;
  }
}
.ul-iframe li::marker,
.iframe-ul li::marker {
  color: #EA0000;
  font-size: 40px;
  font-family: "Anton", sans-serif;
  display: none;
}

@media (max-width: 768px) {
  .ul-iframe {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .iframe-ul {
    flex-direction: column-reverse;
  }
}

/* PAGE PAS A PAS  */
body.page-pas-a-pas .home-section-descobreix img {
  max-width: 500px;
}
body.page-pas-a-pas .iframe-ul .wp-block-group p,
body.page-pas-a-pas .iframe-ul .wp-block-group .wp-block-list,
body.page-pas-a-pas .ul-iframe .wp-block-group p,
body.page-pas-a-pas .ul-iframe .wp-block-group .wp-block-list {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
}
body.page-pas-a-pas .iframe-ul .wp-block-group .wp-block-list,
body.page-pas-a-pas .ul-iframe .wp-block-group .wp-block-list {
  list-style: none;
  padding-left: 0;
}
body.page-pas-a-pas .iframe-ul .wp-block-group .wp-block-list li,
body.page-pas-a-pas .ul-iframe .wp-block-group .wp-block-list li {
  position: relative;
  padding-left: 1.5rem;
}
body.page-pas-a-pas .iframe-ul .wp-block-group .wp-block-list li::before,
body.page-pas-a-pas .ul-iframe .wp-block-group .wp-block-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.2em;
  color: #EA0000;
}
body.page-pas-a-pas .first-pasapas {
  display: flex;
  align-items: center;
  padding-left: 0;
  max-width: 100% !important;
}
@media (max-width: 1200px) {
  body.page-pas-a-pas .first-pasapas {
    flex-direction: column;
  }
}
body.page-pas-a-pas .first-pasapas p {
  font-size: 40px;
  color: #EA0000;
  font-family: "Anton", sans-serif;
  padding-bottom: 20px;
}
body.page-pas-a-pas .first-pasapas p:first-child {
  background: #EA0000;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  body.page-pas-a-pas .first-pasapas p:first-child {
    font-size: 32px;
    width: 50px;
    height: 50px;
  }
}
body.page-pas-a-pas .snd-pasapas {
  display: flex;
  flex-direction: column;
  margin: auto;
}
body.page-pas-a-pas .snd-pasapas .first-pasapas {
  padding-right: 0;
}
body.page-pas-a-pas figure.wp-block-gallery {
  justify-content: center;
  max-width: 1000px !important;
  margin: auto;
  gap: 46px;
  padding-top: 50px;
}
@media (max-width: 1200px) {
  body.page-pas-a-pas figure.wp-block-gallery {
    max-width: 700px;
    margin: auto;
  }
}
@media (max-width: 520px) {
  body.page-pas-a-pas figure.wp-block-gallery {
    flex-direction: column;
    align-items: center;
  }
}
body.page-pas-a-pas figure.wp-block-gallery .bin {
  max-width: 190px !important;
  height: 155px;
  background-color: rgb(250, 250, 250);
}
body.page-pas-a-pas figure.wp-block-gallery .bin img {
  object-fit: contain !important;
  padding-bottom: 40px;
}
body.page-pas-a-pas figure.wp-block-gallery .bin figcaption {
  color: black;
  font-size: 15px !important;
  font-family: "Roboto", sans-serif;
  background: transparent;
}
body.page-pas-a-pas .iframe-ul {
  position: relative;
}
body.page-pas-a-pas .iframe-ul .pasapas-one {
  position: absolute;
  top: 0;
  left: -130px;
}
@media (max-width: 1200px) {
  body.page-pas-a-pas .iframe-ul .pasapas-one {
    position: relative;
    left: 0;
  }
}
body.page-pas-a-pas .iframe-ul .rebras-lainfo {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-size: 45px !important;
  font-family: "Anton", sans-serif;
  line-height: normal !important;
}
@media (max-width: 1200px) {
  body.page-pas-a-pas .iframe-ul .rebras-lainfo {
    font-size: 32px !important;
    text-align: center;
  }
}

.acada-llar {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  font-size: 32px;
  padding-top: 26px;
  max-width: 870px !important;
  line-height: normal;
  font-weight: bold;
  color: black !important;
}
@media (max-width: 1200px) {
  .acada-llar {
    font-size: 20px !important;
  }
}

@media (max-width: 1200px) {
  .responsive-paragraph {
    font-size: 20px !important;
  }
  .responsive-paragraph ul,
  .responsive-paragraph li {
    font-size: 20px !important;
  }
}
.responsive-paragraph {
  font-family: "Roboto", sans-serif !important;
  line-height: normal !important;
}

.first-pasapas.third {
  display: flex;
  align-items: center;
  padding-left: 0;
  max-width: 1200px !important;
  justify-content: center;
  margin: auto;
}
.first-pasapas.third p {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}
.first-pasapas.third p.tancament {
  font-size: 45px;
  padding-left: 50px;
  padding-top: 21px;
  line-height: normal !important;
}
@media (max-width: 1200px) {
  .first-pasapas.third p.tancament {
    font-size: 32px !important;
    text-align: center;
    padding-left: 0;
  }
}

@media (max-width: 1200px) {
  .recollide-dels-materials.snd-pasapas.wp-block-group.has-background-background-color.has-background.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained {
    padding-top: 50px !important;
  }
  .recollide-dels-materials.snd-pasapas.wp-block-group.has-background-background-color.has-background.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained .acada-llar {
    padding-top: 0 !important;
  }
}

/* PAGE CADA RESIDU AL SEU EQUIP */
body.page-cada-residu-al-seu-equip .alseu-equip,
body.page-pas-a-pas .alseu-equip {
  padding-inline: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained {
  padding-inline: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery {
  max-width: 1200px;
  justify-content: center;
}
@media (max-width: 1200px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery {
    max-width: 650px;
  }
}
@media (max-width: 568px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery {
    max-width: 400px;
  }
}
@media (max-width: 359px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery {
    max-width: 300px;
  }
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card {
  width: 167px !important;
  height: 219px;
  position: relative;
  flex: 0 0 auto;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card img,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card img {
  border-radius: 10px;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card figcaption,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card figcaption {
  display: none;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  margin: auto;
  font-family: "Anton", sans-serif;
  font-size: 25px;
  background: none;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE */
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption::-webkit-scrollbar,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover img,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover img {
  opacity: 0.9;
  filter: brightness(0.5);
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card::before,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card::before {
  display: none;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained h3,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained h3 {
  font-size: 55px;
  font-family: "Anton", sans-serif;
  text-align: center;
  line-height: 82px;
  letter-spacing: 0;
  color: #EA0000;
}
@media (max-width: 768px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained h3,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained h3 {
    line-height: 1;
    font-size: 45px;
    padding: 0 20px;
  }
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained p,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained p {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 35px;
  letter-spacing: 0;
  margin-bottom: 20px;
  max-width: 900px;
}
@media (max-width: 768px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained p,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained p {
    font-size: 22px;
    padding: 0 20px;
    line-height: 25px;
  }
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio {
  margin-top: 30px;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio p,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles {
  color: #EA0000;
  margin-bottom: 0;
  padding-bottom: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p::before,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p::before {
  content: "";
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  background-image: url("../img/loc.png");
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p.trucans::before,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p.trucans::before {
  background-image: url("../img/phone.png");
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio div,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio div {
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 10px;
}
body.page-cada-residu-al-seu-equip .section-horaris,
body.page-pas-a-pas .section-horaris {
  margin-top: 50px;
  margin-bottom: 100px;
}
body.page-cada-residu-al-seu-equip .section-horaris h5,
body.page-pas-a-pas .section-horaris h5 {
  color: #EA0000;
  font-size: 20px;
  font-weight: bold;
}
body.page-cada-residu-al-seu-equip .section-horaris h5::before,
body.page-pas-a-pas .section-horaris h5::before {
  content: "";
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  background-image: url("../img/clock.png");
  vertical-align: middle;
}
body.page-cada-residu-al-seu-equip .section-horaris p,
body.page-pas-a-pas .section-horaris p {
  font-size: 20px;
  font-weight: bold;
}
body.page-cada-residu-al-seu-equip .section-tes-dubtes h3,
body.page-pas-a-pas .section-tes-dubtes h3 {
  font-size: 55px;
  font-family: "Anton", sans-serif;
  text-align: center;
  line-height: 82px;
  letter-spacing: 0;
  color: #EA0000;
}
body.page-cada-residu-al-seu-equip .section-tes-dubtes p,
body.page-pas-a-pas .section-tes-dubtes p {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 35px;
  letter-spacing: 0;
  margin-bottom: 20px;
  max-width: 1200px;
}
body.page-cada-residu-al-seu-equip .section-tes-dubtes .wp-block-buttons,
body.page-pas-a-pas .section-tes-dubtes .wp-block-buttons {
  margin-bottom: 100px;
}

/* PAGE PREG FREQUENTES  */
body.page-preguntes-frequents h1.wp-block-heading {
  line-height: 95px;
}
@media (max-width: 768px) {
  body.page-preguntes-frequents h1.wp-block-heading {
    line-height: 75px;
  }
}
@media (max-width: 568px) {
  body.page-preguntes-frequents h1.wp-block-heading {
    line-height: 55px;
  }
}
body.page-preguntes-frequents .detail-container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}
@media (max-width: 1350px) {
  body.page-preguntes-frequents .detail-container {
    max-width: 1000px;
  }
}
@media (max-width: 1200px) {
  body.page-preguntes-frequents .detail-container {
    max-width: 700px;
  }
}
@media (max-width: 845px) {
  body.page-preguntes-frequents .detail-container {
    max-width: 600px;
  }
}
@media (max-width: 720px) {
  body.page-preguntes-frequents .detail-container {
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  body.page-preguntes-frequents .detail-container {
    max-width: 355px;
  }
}
@media (max-width: 500px) {
  body.page-preguntes-frequents .detail-container {
    max-width: 325px;
  }
}
@media (max-width: 450px) {
  body.page-preguntes-frequents .detail-container {
    max-width: 250px;
  }
}
@media (max-width: 350px) {
  body.page-preguntes-frequents .detail-container {
    max-width: 200px;
  }
}
body.page-preguntes-frequents .detail-container summary {
  color: #EA0000;
  font-size: 45px;
  font-family: "Anton", sans-serif;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  body.page-preguntes-frequents .detail-container summary {
    font-size: 28px;
  }
}
@media (max-width: 568px) {
  body.page-preguntes-frequents .detail-container summary {
    font-size: 24px;
  }
}
body.page-preguntes-frequents .detail-container details {
  position: relative;
  padding-left: 20px;
}
body.page-preguntes-frequents .detail-container details::before {
  content: "?";
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.2em;
  background-color: #EA0000;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}
body.page-preguntes-frequents .detail-container details[open]::before {
  top: 36px;
}
body.page-preguntes-frequents .detail-container p {
  font-size: 32px;
}
@media (max-width: 768px) {
  body.page-preguntes-frequents .detail-container p {
    font-size: 24px;
    line-height: normal;
  }
}
@media (max-width: 568px) {
  body.page-preguntes-frequents .detail-container p {
    font-size: 22px;
  }
}
body.page-preguntes-frequents {
  /* Oculta el marcador en Chrome, Safari y Edge */
}
body.page-preguntes-frequents summary::-webkit-details-marker {
  display: none;
}
body.page-preguntes-frequents {
  /* Para compatibilidad con Firefox */
}
body.page-preguntes-frequents summary {
  list-style: none;
}
body.page-preguntes-frequents {
  /* Opcional: Ocultar el marcador en navegadores que soportan list-style en summary */
}
body.page-preguntes-frequents summary::-moz-list-bullet {
  list-style: none;
  display: none;
}

/* TEMPLATE NOTICIAS  */
body.blog h2 {
  background-image: none;
  color: #EA0000;
  font-size: 75px !important;
  font-family: "Anton", sans-serif;
  text-align: center;
  padding: 0;
}
@media (max-width: 768px) {
  body.blog h2 {
    font-size: 24px;
  }
}
@media (max-width: 1200px) {
  body.blog ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  body.blog ul {
    grid-template-columns: 1fr;
  }
}

/* NOT FOUND */
body.error404 .not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.error404 .not-found-container h1.wp-block-heading {
  position: relative;
  top: 0;
  text-align: center;
  color: #EA0000;
}
body.error404 .not-found-container p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  letter-spacing: 0;
  margin-bottom: 20px;
  max-width: 1200px;
  font-weight: bold;
}

/* Specific styles adjustmentes for single post page */
body.single.single-post .wp-block-post-title {
  display: block !important;
}
body.single.single-post .wp-block-group p {
  font-size: 20px;
}
body.single.single-post .wp-block-group h1 {
  color: #EA0000;
}
body.single.single-post .wp-block-group h2 {
  color: black;
  font-size: 22px;
  background-image: none;
  font-weight: 300;
  text-align: left;
  margin-bottom: 0 !important;
  font-family: "Roboto", sans-serif;
  text-transform: none;
}

/*# sourceMappingURL=main.css.map */
