/* Auto compilar */
/* sass --watch scss:css */

/* 1. Abstracts */
@use "abstracts/variables";
@use "abstracts/mixins";
@use "abstracts/breakpoints";

/* 2. Base */
@use "base/fonts";
@use "base/typography";

/* 3. Layout */
@use "layout/header";
@use "layout/footer";

/* 4. Components */
@use "components/buttons";
@use "components/cards";
@use "components/general";

/* 5. Pages */
@use "pages/home";
@use "pages/pages";