@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;


/* HOME AND MAIN PAGES TEMPLATE STYLES */

/* HOME SECTION VIDEO */

.home-section-video {
    padding-top: 0 !important;
}

/* HOME SECTION RESIDU */

.home-section-residu {
    h2 {
        background-image: none;
        text-transform: uppercase;
        font-family: v.$font-heading;
        font-size: 85px;
        text-align: center;
        letter-spacing: 0;
        font-weight: 400;
        line-height: 1;
        color: v.$primary;
        padding-top: 120px !important;
        margin-bottom: 0 !important;
        padding-bottom: 31px;
    }

    .residu-h3 {
        @include m.heading-h3;
        letter-spacing: 0;
        padding-bottom: 65px;
    }
}

.bin {
    border-radius: 5px;
    border: solid 2px;
    border-color: v.$gray;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

    figcaption {
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 24px !important;
        font-family: v.$font-heading;
        font-weight: bold;
        color: v.$gray;
        padding: 5px !important;
        text-shadow: none !important;
    }

    &.brown {
        figcaption {
            background: v.$gradient-brown !important;
        }

        img {
            object-fit: contain !important;
        }
    }

    &.green {
        figcaption {
            background: v.$gradient-green !important;
        }

        img {
            object-position: top;
        }
    }

    &.blue {
        figcaption {
            background: v.$gradient-blue !important;
        }
    }

    &.yellow {
        figcaption {
            background: v.$gradient-yellow !important;
        }
    }

    &.gray {
        figcaption {
            background: v.$gradient-gray !important;
        }
    }
}


/* FASE DOS */

.home-section-residu-fasedos {
    display: none;
}

/* HOME SECTION PAS A PAS */

.home-section-pasapas {
    padding: 96px 0 92px;

    .residu-h3 {
        @include m.heading-h3;
        color: v.$primary;
        padding-bottom: 20px;
    }

    p {
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0;
        font-family: v.$font-main;
        text-align: center;
        line-height: 32px;
        padding-bottom: 20px;
    }
}

/* HOME SECTION VIDEO */

.home-section-video {
    padding: 96px 0 92px;

    .residu-h3 {
        @include m.heading-h3;
        color: v.$primary;
    }

}

.ultimes-not-home {
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.agenda-home-grid {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding: 20px 0 20px;

}