@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;


/* HOME AND MAIN PAGES TEMPLATE STYLES */


h1 span.title-highlight {
    color: red;
}

h1 {
    text-transform: uppercase;
    font-family: v.$font-heading;
    font-size: 82px;
    text-align: left;
    position: absolute;
}

//  .home-section-descobreix,
//  .home-section-video,
//  .home-section-residu,
//  .home-section-noticies,
//  .home-section-agenda {
//    padding: 0 !important;
//    margin: 0 !important;
//  }

.home-section-descobreix {
    display: flex;
    padding: v.$section-padding;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
    padding-bottom: 0 !important;
  }
  
.home-section-descobreix > * {
    margin: 0 !important;
}
  
.inside-container-descobreix {
    padding-bottom: 45px;
}

.inside-container-descobreix div{
    margin: 0 !important;
}
  
.item-1-descobreix {
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    font-family: v.$font-main;
  }

  .home-section-video {
    padding-top: 0 !important;
  }

  h2 {
    @include m.section-title;
  }  

  
//   .item-2-descobreix {
//     grid-column: 1;
//     grid-row: 2;
//   }
  
//   .item-3-descobreix {
//     grid-column: 2;
//     grid-row: 1 / 3; 
//     align-self: start; 
//   }