@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;


/* HOME AND MAIN PAGES TEMPLATE STYLES */

/* HOME SECTION VIDEO */

.home-section-video {
    padding-top: 0 !important;
}

.inside-container-descobreix {
    .main-btns {
        font-size: 20px;
        padding: 0px 28px;
        background-image: v.$gradient;
        color: white;

        &:hover {
            background-image:
                linear-gradient(white, white),
                v.$gradient;
            color: black;
        }
    }
}

/* HOME SECTION RESIDU */

.home-section-residu {
    h2 {
        background-image: none;
        text-transform: uppercase;
        font-family: v.$font-heading;
        font-size: 85px;
        text-align: center;
        letter-spacing: 0;
        font-weight: 400;
        line-height: 1;
        color: v.$primary;
    }

    .residu-paragraph {
        font-size: 45px;
        text-align: center;
        letter-spacing: 0;
        line-height: 1;
        font-weight: bold;
        font-family: v.$font-main;
    }
}

/* FASE DOS */

.home-section-residu-fasedos {
    display: none;
}