@use "../abstracts/variables" as v;

/* HOME AND MAIN PAGES TEMPLATE STYLES */

h1 span.title-highlight {
    color: red;
}

h1 {
    text-transform: uppercase;
    font-family: v.$font-heading;
    font-size: 82px;
    text-align: left;
    width: 70%;
}

.home-section-descobreix {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 16px;
}

.item-1-descobreix {
    grid-column: 1;
    grid-row: 1;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    width: 70%;
    font-family: v.$font-main;
  }
  
  .item-2-descobreix {
    grid-column: 1;
    grid-row: 2;
  }
  
  .item-3-descobreix {
    grid-column: 2;
    grid-row: 1 / 3; 
  }