@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

/* Specific styles adjustmentes for each page */

/* PAGE RECOLLIDA */

body.page-coneix-el-sistema-de-recollida {
    h2.recollida-h2 {
        font-size: 55px;
        padding-top: 15px !important;
    }

    h3.residu-h3.recollida-h3 {
        text-align: center;
        font-size: 32px;
        font-family: v.$font-main;
        width: 100%;
        max-width: 1200px;
        text-transform: none;
        padding-bottom: 20px;
    }

    .wp-block-gallery {
        padding-bottom: 56px;

        .bin.yellow {
            img {
                object-fit: contain !important;
            }
        }
    }

    .special-h2-targeta {
        background-image: none;
        color: v.$primary;
        font-size: 55px;
        font-family: v.$font-heading;
        padding: 40px 0 0;
    }

    .ul-iframe,
    .iframe-ul {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 1200px;
        margin: auto;
        padding-bottom: 100px;
        padding-top: 100px;

        div.wp-block-group {
            margin-right: 0 !important;
            margin-left: 0 !important;
        }

        figure.wp-block-embed.is-type-video.is-provider-youtube.wp-block-embed-youtube {
            width: 25%;
            height: auto;
            margin-left: 0 !important;
            margin-right: 0 !important;
        }

        h4 {
            font-family: v.$font-heading;
            font-size: 32px;
            color: v.$primary;
            line-height: 35px;
            letter-spacing: 0;
            margin-bottom: 25px;
        }

        li {
            font-size: 25px;
            font-family: v.$font-main;
            line-height: 27px;
            letter-spacing: 0;
            margin-bottom: 50px;

            &::marker {
                color: v.$primary;
                font-size: 40px;
                font-family: v.$font-heading;
            }
        }
    }

}

body.page-cada-residu-al-seu-equip {
    .alseu-equip {
        padding-inline: 0;
    }

    .residu-gallery.wp-block-group.is-layout-constrained {
        padding-inline: 0;

        figure {
            max-width: 1200px;

            .residu-gallery-card {
                width: 167px !important;
                height: 219px;
                position: relative;

                img {
                    border-radius: 10px;
                }

                figcaption {
                    display: none;
                }

                &:hover {
                    figcaption {
                        display: block;
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        width: 184px;
                        height: 50px;
                        font-family: v.$font-heading;
                        font-size: 25px;
                        background: none;
                    }

                    img {
                        opacity: 0.9;
                        filter: brightness(0.5);
                    }
                }
            }
        }

        h3 {
            font-size: 55px;
            font-family: v.$font-heading;
            text-align: center;
            line-height: 82px;
            letter-spacing: 0;
            color: v.$primary;
        }

        p {
            font-size: 32px;
            font-family: v.$font-main;
            text-align: center;
            line-height: 35px;
            letter-spacing: 0;
            margin-bottom: 20px;
        }
    }
}