@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

/* FOOTER STYLES */

footer {
    background-color: v.$gray;
    padding-bottom: 20px;

    h3 {
        color: v.$primary;
        padding: 50px 0 30px;
        font-size: 32px;
        margin-bottom: 0;
    }

    p {
        font-size: 24px;
        font-family: v.$font-main;
        font-weight: 400;
        max-width: 1200px;
        display: block;
        margin: 0 auto;
    }

    .footer-grid {
        width: 100%;
        margin: 0 auto;

        &.titles {
            max-width: 1200px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
            padding: 20px 0 20px;

            p {
                font-family: v.$font-main;
                font-size: 20px;
                font-weight: bold;

                &::before {
                    content: "";
                    width: 35px;
                    height: 35px;
                    background-size: contain;
                    background-repeat: no-repeat;
                    background-position: center;
                    flex-shrink: 0;
                    display: inline-block;
                    vertical-align: bottom;
                    margin-right: 10px;
                }

                &.wsp-title::before {
                    background-image: url("../img/wsp.png");
                }

                &.escriu-title::before {
                    background-image: url("../img/mail.png");
                }

                &.truca-title::before {
                    background-image: url("../img/phone.png");
                }

                &.horari-title::before {
                    background-image: url("../img/clock.png");
                }
            }
        }

        &.info {
            max-width: 1200px;
            display: grid;
            grid-template-columns: 0.3fr 0.5fr 1fr 1fr 1fr;
            align-items: center;

            p {
                font-family: v.$font-main;
                font-size: 15px;
                max-width: 150px;

                &.main-btns.body-btns {
                    font-size: 16px;
                    max-width: 140px;
                    text-transform: none;
                    height: auto;
                    padding: 9px 17px;
                }

            }
        }

        &.logos {
            max-width: 1200px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 0px;
            align-items: center;

            img {
                max-width: 150px;
            }
        }
    }



}

footer .wp-block-template-part {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

@media (max-width: 900px) {

    .footer-grid.titles,
    .footer-grid.info,
    .footer-grid.logos {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 480px) {

    .footer-grid.titles,
    .footer-grid.info,
    .footer-grid.logos {
        grid-template-columns: 1fr;
        text-align: left;
    }
}



@media (max-width: 480px) {

    .footer-grid.titles,
    .footer-grid.info,
    .footer-grid.logos {
        grid-template-columns: 1fr;
        text-align: left;
    }
}