@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

/* FOOTER STYLES */

footer {
    background-color: v.$gray;
    padding-bottom: 20px;

    h3 {
        color: v.$primary;
        padding: 50px 0 30px;
        font-size: 32px;
        margin-bottom: 0;

        @media (max-width: 568px) {
            font-size: 24px;
        }
    }

    p {
        font-size: 24px;
        font-family: v.$font-main;
        font-weight: 400;
        max-width: 1200px;
        display: block;
        margin: 0 auto;

        @media (max-width: 1200px) {
            padding-right: 40px;
            padding-left: 40px;
            text-align: center;
            line-height: 1;
        }

        @media (max-width: 568px) {
            font-size: 20px;
        }
    }

    .footer-grid {
        width: 100%;
        margin: 0 auto;

        .add-wsp {
            display: flex;
            flex-direction: column;

            img {
                max-width: 150px;
            }

            @media (max-width: 767px) {}
        }

        .email,
        .phone,
        .schedule {
            padding-top: 35px;

            @media (max-width: 767px) {
                padding-top: 0;
            }
        }

        .main-btns {
            height: auto;

            @media (max-width: 767px) {
                padding: 10px 10px;
            }
        }

        @media (max-width: 1200px) {
            .footer-grid {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                margin: auto;
            }


            .wsp-title {
                order: 1;
            }

            .add-wsp {
                order: 2;
            }

            .escriu-title {
                order: 3;
            }

            .email {
                order: 4;

            }

            .truca-title {
                order: 5;
            }

            .phone {
                order: 6;
                line-height: 1.5;
            }

            .horari-title {
                order: 7;
            }

            .schedule {
                order: 8;
            }
        }

        &.titles {
            max-width: 1200px;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            align-items: start;
            padding: 20px 0 20px;

            @media (max-width: 1200px) {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
            }

            p {
                font-family: v.$font-main;
                font-size: 20px;
                font-weight: bold;

                &.wsp-title,
                &.escriu-title,
                &.truca-title,
                &.horari-title {
                    &::before {
                        content: "";
                        width: 35px;
                        height: 35px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center;
                        flex-shrink: 0;
                        display: inline-block;
                        vertical-align: bottom;
                        margin-right: 10px;
                    }

                    &.wsp-title::before {
                        background-image: url("../img/wsp.png");
                    }

                    &.escriu-title::before {
                        background-image: url("../img/mail.png");
                    }

                    &.truca-title::before {
                        background-image: url("../img/phone.png");
                    }

                    &.horari-title::before {
                        background-image: url("../img/clock.png");
                    }
                }



            }
        }

        &.info {
            max-width: 1200px;
            display: grid;
            grid-template-columns: 0.3fr 0.5fr 1fr 1fr 1fr;
            align-items: center;

            p {
                font-family: v.$font-main;
                font-size: 15px;
                max-width: 150px;

                &.main-btns.body-btns {
                    font-size: 16px;
                    max-width: 140px;
                    text-transform: none;
                    height: auto;
                    padding: 9px 17px;
                }

            }
        }

        &.logos {
            max-width: 1200px;
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 0px;
            align-items: center;

            img {
                max-width: 150px;
            }

            @media (max-width: 1200px) {
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                justify-content: revert;
                padding: 0 50px 0;

            }
        }
    }



}

footer .wp-block-template-part {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

@media (max-width: 1200px) {

    .footer-grid.titles,
    .footer-grid.info,
    .footer-grid.logos {
        grid-template-columns: 1fr 1fr;
        max-width: 800px;
        text-align: center;
    }
}

@media (max-width: 480px) {

    .footer-grid.titles,
    .footer-grid.info,
    .footer-grid.logos {
        grid-template-columns: 1fr;
        text-align: left;
    }
}



@media (max-width: 480px) {

    .footer-grid.titles,
    .footer-grid.info,
    .footer-grid.logos {
        grid-template-columns: 1fr;
        text-align: left;
    }
}