@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.custom-logo {
    width: 248px;
    height: auto;
    display: block;

    @media (max-width: 599px) {
        width: 150px;
    }

}

.wp-block-navigation__responsive-container-content .wp-block-navigation li.main-btns {
    width: 145px;
    text-transform: none;
    justify-content: center;

    @media (max-width: 768px) {
        width: 130px;
    }
}

.header-custom {
    min-width: 130px;
    margin: 0 auto;
    padding-inline: 0;
    justify-content: center;
    background: v.$gradient;

    img {
        width: 150px;
        padding: 20px 0;
    }
}

.bottom-header {
    max-width: 1165px !important;
    min-width: 130px;
    margin: 0 auto;
    padding-inline: 0;
    justify-content: space-around;

    @media (max-width: 1200px) {
        padding-left: 50px;
        padding-right: 50px;
        max-width: 900px !important;
    }

    @media (max-width: 599px) {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 1200px) {
    .ul.wp-block-navigation__container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 13px;
        max-width: 550px;
    }
}

@media (max-width: 768px) {
    .wp-block-navigation li.main-btns {
        font-size: 14px !important;
    }
}

@media (max-width: 599px) {
    .wp-block-navigation li.main-btns {
        font-size: 20px !important;
        text-align: right !important;
        max-width: 250px;
    }
}


/* HAMBURGUESA DESDE 1200px */
// @media (max-width: 1200px) {

/* Mostrar botón */
// .wp-block-navigation__responsive-container-open {
//     display: flex !important;
// }

/* Ocultar menú horizontal */
//     nav.wp-block-navigation>ul.wp-block-navigation__container {
//         display: none !important;
//     }
// }

/* DESKTOP REAL */
// @media (min-width: 1201px) {

//     .wp-block-navigation__responsive-container-open {
//         display: none !important;
//     }

//     nav.wp-block-navigation>ul.wp-block-navigation__container {
//         display: flex !important;
//     }
// }