@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.custom-logo {
    width: 248px;
    height: auto;
    display: block;
}

.wp-block-navigation__responsive-container-content .wp-block-navigation li.main-btns {
    width: 145px;
    text-transform: none;
    justify-content: center;
}

.header-custom {
    min-width: 130px;
    margin: 0 auto;
    padding-inline: 0;
    justify-content: center;
    background: v.$gradient;

    img {
        width: 150px;
        padding: 20px 0;
    }
}

.bottom-header {
    max-width: 1165px !important;
    min-width: 130px;
    margin: 0 auto;
    padding-inline: 0;
    justify-content: space-around;
}