@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

.wp-block-navigation li.main-btns {
    @include m.main-button;
}

.main-btns {
    @include m.main-button;
}

.main-btns a {
    border: none;
    padding: 0;

    &:focus-visible,
    &:focus {
        outline: 2px solid transparent;
        box-shadow: none;
    }
}

.main-btns.body-btns {
    font-size: 20px;
    padding: 14px 28px;
    background-image: v.$gradient;
    color: white;
    width: 244px;
    height: auto;

    &:hover {
        background-image:
            linear-gradient(white, white),
            v.$gradient;
        color: black;
    }

    a {
        &:hover {
            background-color: white !important;
        }

        &:focus-visible {
            outline: none !important;
        }
    }
}