@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

/* POST CARDS */

.ultimes-not-home {
    .post-not-card {
        width: 313px;
        height: 450px;
        padding: 10px !important;

        .wp-block-post-excerpt__excerpt {
            margin-bottom: 0;
            margin-top: 0;
            height: 80px;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            padding-bottom: 20px
        }
    }
}

.wp-block-post-excerpt__more-link {
    @include m.main-button;
    font-size: 20px;
    padding: 3px 5px;
    background-image: v.$gradient;
    color: white;
    width: 244px;
    height: auto;
    text-decoration: none;
    font-size: 16px;

    &:hover {
        background-image:
            linear-gradient(white, white),
            v.$gradient;
        color: black;
        text-decoration: none;
    }
}

.wp-block-post-date {
    display: none;
}

h2.wp-block-heading {
    margin-bottom: 55px !important;
}

/* AGENDA CARD */

.agenda-card {
    width: 313px;
    height: 450px;
    padding: 10px !important;
}