@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

h2 {
    @include m.section-title;

    @media (max-width: 768px) {
        font-size: 32px;
        padding: 40px 39px;
    }

}

.wp-block-post-title {
    display: none;
}

.wp-block-group.alignfull.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.wp-block-group.has-background-background-color.has-background.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

// .wp-block-group.is-layout-constrained {
//     padding-inline: 1;
// }


/* HERO SECTION  */


h1.wp-block-heading {
    text-transform: uppercase;
    font-family: v.$font-heading;
    font-size: 82px;
    text-align: left;
    position: absolute;
    top: -160px;
    width: 700px;
    letter-spacing: 0;
    font-weight: 400;
    line-height: 1;

    span.title-highlight {
        color: v.$primary;
    }

    @media (max-width: 1200px) {
        position: relative;
        font-size: 75px;
        width: auto;
        top: 0;
        text-align: center;
        width: 900px;
        margin: auto;
    }

    @media (max-width: 768px) {
        font-size: 65px;
        width: 100%;
    }

    @media (max-width: 530px) {
        font-size: 45px;
    }

}

.home-section-descobreix {
    display: flex;
    padding: v.$section-padding;
    flex-direction: row;
    align-items: flex-end;
    gap: 12px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
    padding-bottom: 0 !important;
    padding: 0 !important;

    &.recollida {
        justify-content: center;
    }

    @media (max-width: 1200px) {
        flex-direction: column;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.home-section-descobreix>* {
    margin: 0 !important;

    @media (max-width: 1200px) {
        margin: auto !important;
    }
}

.inside-container-descobreix {
    padding-bottom: 45px;
    position: relative;

    @media (max-width: 1200px) {
        padding-bottom: 0;
    }

    div {
        margin: 0 !important;

        @media (max-width: 1200px) {
            margin: auto !important;
        }
    }

    .item-1-descobreix {
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        font-family: v.$font-main;
        line-height: normal;

        @media (max-width: 1200px) {
            text-align: center;
            font-size: 24px;
            line-height: 1;
            padding-bottom: 20px;
        }

        @media (max-width: 568px) {
            font-size: 19px;
        }
    }
}

/* BINS */

.bin-container {

    figure.wp-block-gallery {
        justify-content: center;

        @media (max-width: 1200px) {
            max-width: 700px;
            margin: auto;
        }

        @media (max-width: 520px) {
            flex-direction: column;
            align-items: center;
        }

        .bin {
            max-width: 190px !important;
            height: 155px;
            background-color: rgba(250, 250, 250, 1);

            img {
                object-fit: none !important;
                padding-bottom: 26px;
            }

            &.brown {
                img {
                    object-fit: contain !important;
                }
            }
        }
    }
}

/* cliclkeable elements */

.clickable-img:focus-within,
.clickable-img a:focus,
.clickable-img a:focus-visible {
    outline: 2px solid transparent !important;
    box-shadow: none !important;
}

.wp-block-site-logo a:focus,
.wp-block-site-logo a:focus-visible {
    outline: 2px solid transparent !important;
    box-shadow: none !important;
}

summary:focus-within,
summary:focus,
summary:focus-visible {
    outline: 2px solid transparent !important;
    box-shadow: none !important;
}

/* CLASS FOR DISPLAY NONE  */

.display-none {
    display: none !important;
}