h2 {
  font-family: "Anton", sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(90deg, #FF0000 0%, #FF9400 100%);
  color: white;
  padding: 59px 39px;
  margin-bottom: 120px !important;
}
@media (max-width: 768px) {
  h2 {
    letter-spacing: 4px;
  }
}
@media (max-width: 768px) {
  h2 {
    font-size: 32px;
    padding: 40px 39px;
  }
}

.wp-block-post-title {
  display: none;
}

.wp-block-group.alignfull.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.wp-block-group.has-background-background-color.has-background.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

/* HERO SECTION  */
h1.wp-block-heading {
  text-transform: uppercase;
  font-family: "Anton", sans-serif;
  font-size: 82px;
  text-align: left;
  position: absolute;
  top: -160px;
  width: 700px;
  letter-spacing: 0;
  font-weight: 400;
  line-height: 1;
}
h1.wp-block-heading span.title-highlight {
  color: #EA0000;
}
@media (max-width: 1200px) {
  h1.wp-block-heading {
    position: relative;
    font-size: 75px;
    width: auto;
    top: 0;
    text-align: center;
    width: 900px;
    margin: auto;
  }
}
@media (max-width: 768px) {
  h1.wp-block-heading {
    font-size: 65px;
    width: 100%;
  }
}
@media (max-width: 530px) {
  h1.wp-block-heading {
    font-size: 45px;
  }
}

.home-section-descobreix {
  display: flex;
  padding: 0 30px;
  flex-direction: row;
  align-items: flex-end;
  gap: 12px;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 0 !important;
  padding: 0 !important;
}
.home-section-descobreix.recollida {
  justify-content: space-between;
}
@media (max-width: 1200px) {
  .home-section-descobreix {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.home-section-descobreix > * {
  margin: 0 !important;
}
@media (max-width: 1200px) {
  .home-section-descobreix > * {
    margin: auto !important;
  }
}

.inside-container-descobreix {
  padding-bottom: 70px;
  position: relative;
}
@media (max-width: 1200px) {
  .inside-container-descobreix {
    padding-bottom: 0;
  }
}
.inside-container-descobreix div {
  margin: 0 !important;
}
@media (max-width: 1200px) {
  .inside-container-descobreix div {
    margin: auto !important;
  }
}
.inside-container-descobreix .item-1-descobreix {
  font-size: 24px;
  font-weight: bold;
  text-align: left;
  font-family: "Roboto", sans-serif;
  line-height: normal;
}
@media (max-width: 1200px) {
  .inside-container-descobreix .item-1-descobreix {
    text-align: center;
    font-size: 24px;
    line-height: 1;
    padding-bottom: 20px;
  }
}
@media (max-width: 568px) {
  .inside-container-descobreix .item-1-descobreix {
    font-size: 19px;
  }
}

/* BINS */
.bin-container figure.wp-block-gallery {
  justify-content: center;
}
@media (max-width: 1200px) {
  .bin-container figure.wp-block-gallery {
    max-width: 700px;
    margin: auto;
  }
}
@media (max-width: 520px) {
  .bin-container figure.wp-block-gallery {
    flex-direction: column;
    align-items: center;
  }
}
.bin-container figure.wp-block-gallery .bin {
  max-width: 190px !important;
  height: 155px;
  background-color: rgb(250, 250, 250);
}
.bin-container figure.wp-block-gallery .bin img {
  object-fit: none !important;
  padding-bottom: 26px;
}
.bin-container figure.wp-block-gallery .bin.brown img {
  object-fit: contain !important;
}
.bin-container .wp-block-gallery.has-nested-images figure.wp-block-image:not(#individual-image) {
  margin: 0;
  width: 100%;
}

/* cliclkeable elements */
.clickable-img:focus-within,
.clickable-img a:focus,
.clickable-img a:focus-visible {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

.wp-block-site-logo a:focus,
.wp-block-site-logo a:focus-visible {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

summary:focus-within,
summary:focus,
summary:focus-visible {
  outline: 2px solid transparent !important;
  box-shadow: none !important;
}

/* CLASS FOR DISPLAY NONE  */
.display-none {
  display: none !important;
}

/*# sourceMappingURL=general.css.map */
