/* Specific styles adjustmentes for each page */
/* PAGE RECOLLIDA */
body.page-coneix-el-sistema-de-recollida h2.recollida-h2 {
  font-size: 55px;
  padding-top: 15px !important;
}
body.page-coneix-el-sistema-de-recollida h3.residu-h3.recollida-h3 {
  text-align: center;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 1200px;
  text-transform: none;
  padding-bottom: 20px;
}
body.page-coneix-el-sistema-de-recollida .wp-block-gallery {
  padding-bottom: 56px;
}
body.page-coneix-el-sistema-de-recollida .wp-block-gallery .bin.yellow img {
  object-fit: contain !important;
}
body.page-coneix-el-sistema-de-recollida .special-h2-targeta {
  background-image: none;
  color: #EA0000;
  font-size: 55px;
  font-family: "Anton", sans-serif;
  padding: 40px 0 0;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe,
body.page-coneix-el-sistema-de-recollida .iframe-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 100px;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe div.wp-block-group,
body.page-coneix-el-sistema-de-recollida .iframe-ul div.wp-block-group {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe figure.wp-block-embed.is-type-video.is-provider-youtube.wp-block-embed-youtube,
body.page-coneix-el-sistema-de-recollida .iframe-ul figure.wp-block-embed.is-type-video.is-provider-youtube.wp-block-embed-youtube {
  width: 25%;
  height: auto;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe h4,
body.page-coneix-el-sistema-de-recollida .iframe-ul h4 {
  font-family: "Anton", sans-serif;
  font-size: 32px;
  color: #EA0000;
  line-height: 35px;
  letter-spacing: 0;
  margin-bottom: 25px;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe li,
body.page-coneix-el-sistema-de-recollida .iframe-ul li {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
  letter-spacing: 0;
  margin-bottom: 50px;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe li::marker,
body.page-coneix-el-sistema-de-recollida .iframe-ul li::marker {
  color: #EA0000;
  font-size: 40px;
  font-family: "Anton", sans-serif;
}

/* PAGE CADA RESIDU AL SEU EQUIP */
body.page-cada-residu-al-seu-equip .alseu-equip {
  padding-inline: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained {
  padding-inline: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery {
  max-width: 1200px;
  justify-content: center;
  margin-bottom: 100px !important;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card {
  width: 167px !important;
  height: 219px;
  position: relative;
  flex: 0 0 auto;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card img {
  border-radius: 10px;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card figcaption {
  display: none;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 184px;
  height: 50px;
  font-family: "Anton", sans-serif;
  font-size: 25px;
  background: none;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover img {
  opacity: 0.9;
  filter: brightness(0.5);
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained h3 {
  font-size: 55px;
  font-family: "Anton", sans-serif;
  text-align: center;
  line-height: 82px;
  letter-spacing: 0;
  color: #EA0000;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained p {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 35px;
  letter-spacing: 0;
  margin-bottom: 20px;
  max-width: 900px;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio {
  margin-top: 30px;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles {
  color: #EA0000;
  margin-bottom: 0;
  padding-bottom: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p::before {
  content: "";
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  background-image: url("../img/loc.png");
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p.trucans::before {
  background-image: url("../img/phone.png");
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio div {
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 10px;
}
body.page-cada-residu-al-seu-equip .section-horaris {
  margin-top: 50px;
  margin-bottom: 100px;
}
body.page-cada-residu-al-seu-equip .section-horaris h5 {
  color: #EA0000;
  font-size: 20px;
  font-weight: bold;
}
body.page-cada-residu-al-seu-equip .section-horaris h5::before {
  content: "";
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  background-image: url("../img/clock.png");
  vertical-align: middle;
}
body.page-cada-residu-al-seu-equip .section-horaris p {
  font-size: 20px;
  font-weight: bold;
}

/*# sourceMappingURL=pages.css.map */
