/* Specific styles adjustmentes for each page */
/* PAGE RECOLLIDA */
body.page-coneix-el-sistema-de-recollida h2.recollida-h2 {
  font-size: 55px;
  padding-top: 15px !important;
}
body.page-coneix-el-sistema-de-recollida h3.residu-h3.recollida-h3 {
  text-align: center;
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 1200px;
  text-transform: none;
  padding-bottom: 20px;
}
body.page-coneix-el-sistema-de-recollida .wp-block-gallery {
  padding-bottom: 56px;
}
body.page-coneix-el-sistema-de-recollida .wp-block-gallery .bin.yellow img {
  object-fit: contain !important;
}
body.page-coneix-el-sistema-de-recollida .special-h2-targeta {
  background-image: none;
  color: #EA0000;
  font-size: 55px;
  font-family: "Anton", sans-serif;
  padding: 40px 0 0;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe,
body.page-coneix-el-sistema-de-recollida .iframe-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding-bottom: 100px;
  padding-top: 100px;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe div.wp-block-group,
body.page-coneix-el-sistema-de-recollida .iframe-ul div.wp-block-group {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe figure.wp-block-embed.is-type-video.is-provider-youtube.wp-block-embed-youtube,
body.page-coneix-el-sistema-de-recollida .iframe-ul figure.wp-block-embed.is-type-video.is-provider-youtube.wp-block-embed-youtube {
  width: 25%;
  height: auto;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe h4,
body.page-coneix-el-sistema-de-recollida .iframe-ul h4 {
  font-family: "Anton", sans-serif;
  font-size: 32px;
  color: #EA0000;
  line-height: 35px;
  letter-spacing: 0;
  margin-bottom: 25px;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe li,
body.page-coneix-el-sistema-de-recollida .iframe-ul li {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
  letter-spacing: 0;
  margin-bottom: 50px;
}
body.page-coneix-el-sistema-de-recollida .ul-iframe li::marker,
body.page-coneix-el-sistema-de-recollida .iframe-ul li::marker {
  color: #EA0000;
  font-size: 40px;
  font-family: "Anton", sans-serif;
}

body.page-cada-residu-al-seu-equip .alseu-equip {
  padding-inline: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained {
  padding-inline: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure {
  max-width: 1200px;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure .residu-gallery-card {
  width: 167px !important;
  height: 219px;
  position: relative;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure .residu-gallery-card img {
  border-radius: 10px;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure .residu-gallery-card figcaption {
  display: none;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure .residu-gallery-card:hover figcaption {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 184px;
  height: 50px;
  font-family: "Anton", sans-serif;
  font-size: 25px;
  background: none;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure .residu-gallery-card:hover img {
  opacity: 0.9;
  filter: brightness(0.5);
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained h3 {
  font-size: 55px;
  font-family: "Anton", sans-serif;
  text-align: center;
  line-height: 82px;
  letter-spacing: 0;
  color: #EA0000;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained p {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 35px;
  letter-spacing: 0;
  margin-bottom: 20px;
}

/*# sourceMappingURL=pages.css.map */
