@charset "UTF-8";
/* Specific styles adjustmentes for each page */
/* PAGE RECOLLIDA */
body.page-coneix-el-sistema-de-recollida h2.recollida-h2,
body.page-conozca-el-sistema-de-recogida h2.recollida-h2,
body.page-pas-a-pas h2.recollida-h2,
body.page-- h2.recollida-h2,
body.page-paso-a-paso h2.recollida-h2,
body.page-decouvrez-le-systeme-de-collecte h2.recollida-h2,
body.page--- h2.recollida-h2 {
  font-size: 55px;
  padding-top: 15px !important;
}
@media (max-width: 568px) {
  body.page-coneix-el-sistema-de-recollida h2.recollida-h2,
  body.page-conozca-el-sistema-de-recogida h2.recollida-h2,
  body.page-pas-a-pas h2.recollida-h2,
  body.page-- h2.recollida-h2,
  body.page-paso-a-paso h2.recollida-h2,
  body.page-decouvrez-le-systeme-de-collecte h2.recollida-h2,
  body.page--- h2.recollida-h2 {
    font-size: 32px;
  }
}
body.page-coneix-el-sistema-de-recollida h3.residu-h3.recollida-h3,
body.page-conozca-el-sistema-de-recogida h3.residu-h3.recollida-h3,
body.page-pas-a-pas h3.residu-h3.recollida-h3,
body.page-- h3.residu-h3.recollida-h3,
body.page-paso-a-paso h3.residu-h3.recollida-h3,
body.page-decouvrez-le-systeme-de-collecte h3.residu-h3.recollida-h3,
body.page--- h3.residu-h3.recollida-h3 {
  text-align: center;
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  width: 100%;
  max-width: 1200px;
  text-transform: none;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  body.page-coneix-el-sistema-de-recollida h3.residu-h3.recollida-h3,
  body.page-conozca-el-sistema-de-recogida h3.residu-h3.recollida-h3,
  body.page-pas-a-pas h3.residu-h3.recollida-h3,
  body.page-- h3.residu-h3.recollida-h3,
  body.page-paso-a-paso h3.residu-h3.recollida-h3,
  body.page-decouvrez-le-systeme-de-collecte h3.residu-h3.recollida-h3,
  body.page--- h3.residu-h3.recollida-h3 {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 24px;
  }
}
@media (max-width: 1200px) {
  body.page-coneix-el-sistema-de-recollida .separator-recollida,
  body.page-conozca-el-sistema-de-recogida .separator-recollida,
  body.page-pas-a-pas .separator-recollida,
  body.page-- .separator-recollida,
  body.page-paso-a-paso .separator-recollida,
  body.page-decouvrez-le-systeme-de-collecte .separator-recollida,
  body.page--- .separator-recollida {
    display: none;
  }
}
body.page-coneix-el-sistema-de-recollida .tancament-dels-contenidors,
body.page-conozca-el-sistema-de-recogida .tancament-dels-contenidors,
body.page-pas-a-pas .tancament-dels-contenidors,
body.page-- .tancament-dels-contenidors,
body.page-paso-a-paso .tancament-dels-contenidors,
body.page-decouvrez-le-systeme-de-collecte .tancament-dels-contenidors,
body.page--- .tancament-dels-contenidors {
  padding-inline: 0;
}

body.page-coneix-el-sistema-de-recollida h1,
body.page-conozca-el-sistema-de-recogida h1,
body.page-decouvrez-le-systeme-de-collecte h1,
body.page--- h1 {
  top: -184px;
}
@media (max-width: 1200px) {
  body.page-coneix-el-sistema-de-recollida h1,
  body.page-conozca-el-sistema-de-recogida h1,
  body.page-decouvrez-le-systeme-de-collecte h1,
  body.page--- h1 {
    top: 0;
  }
}
body.page-coneix-el-sistema-de-recollida .ul-iframe .wp-block-image img,
body.page-coneix-el-sistema-de-recollida .iframe-ul .wp-block-image img,
body.page-conozca-el-sistema-de-recogida .ul-iframe .wp-block-image img,
body.page-conozca-el-sistema-de-recogida .iframe-ul .wp-block-image img,
body.page-decouvrez-le-systeme-de-collecte .ul-iframe .wp-block-image img,
body.page-decouvrez-le-systeme-de-collecte .iframe-ul .wp-block-image img,
body.page--- .ul-iframe .wp-block-image img,
body.page--- .iframe-ul .wp-block-image img {
  padding-top: 0 !important;
}

.wp-block-gallery.has-nested-images {
  padding-bottom: 56px;
}
.wp-block-gallery.has-nested-images figure.wp-block-image.bin.yellow img {
  object-fit: contain !important;
}

body.page-coneix-el-sistema-de-recollida .special-h2-targeta,
body.page-conozca-el-sistema-de-recogida .special-h2-targeta,
body.page-decouvrez-le-systeme-de-collecte .special-h2-targeta,
body.page--- .special-h2-targeta {
  background-image: none;
  color: #d50911;
  font-size: 55px;
  font-family: "Anton", sans-serif;
  padding: 40px 0 0;
}
@media (max-width: 768px) {
  body.page-coneix-el-sistema-de-recollida .special-h2-targeta,
  body.page-conozca-el-sistema-de-recogida .special-h2-targeta,
  body.page-decouvrez-le-systeme-de-collecte .special-h2-targeta,
  body.page--- .special-h2-targeta {
    letter-spacing: 2px;
    font-size: 32px;
  }
}
body.page-coneix-el-sistema-de-recollida .wp-block-group.ul-iframe .wp-block-group.ul-iframe,
body.page-coneix-el-sistema-de-recollida .wp-block-group.ul-iframe .wp-block-group.iframe-ul,
body.page-conozca-el-sistema-de-recogida .wp-block-group.ul-iframe .wp-block-group.ul-iframe,
body.page-conozca-el-sistema-de-recogida .wp-block-group.ul-iframe .wp-block-group.iframe-ul,
body.page-decouvrez-le-systeme-de-collecte .wp-block-group.ul-iframe .wp-block-group.ul-iframe,
body.page-decouvrez-le-systeme-de-collecte .wp-block-group.ul-iframe .wp-block-group.iframe-ul,
body.page--- .wp-block-group.ul-iframe .wp-block-group.ul-iframe,
body.page--- .wp-block-group.ul-iframe .wp-block-group.iframe-ul {
  display: flex;
  align-items: flex-start;
}
body.page-coneix-el-sistema-de-recollida .wp-block-group.ul-iframe .wp-block-group.iframe-ul,
body.page-conozca-el-sistema-de-recogida .wp-block-group.ul-iframe .wp-block-group.iframe-ul,
body.page-decouvrez-le-systeme-de-collecte .wp-block-group.ul-iframe .wp-block-group.iframe-ul,
body.page--- .wp-block-group.ul-iframe .wp-block-group.iframe-ul {
  margin-top: 50px !important;
}

.ul-iframe,
.iframe-ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  max-width: 1200px !important;
  margin: auto !important;
  /* para versión con video en vez de foto  */
}
@media (max-width: 1200px) {
  .ul-iframe,
  .iframe-ul {
    flex-direction: column;
  }
}
.ul-iframe .wp-block-image img,
.iframe-ul .wp-block-image img {
  max-width: 300px;
  padding-top: 120px;
}
@media (max-width: 1200px) {
  .ul-iframe .wp-block-image img,
  .iframe-ul .wp-block-image img {
    padding-top: 0;
  }
}
@media (max-width: 768px) {
  .ul-iframe .wp-block-image img,
  .iframe-ul .wp-block-image img {
    max-width: 200px;
  }
}
.ul-iframe div.wp-block-group,
.iframe-ul div.wp-block-group {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.ul-iframe figure.wp-block-embed.is-type-video.is-provider-youtube.wp-block-embed-youtube,
.iframe-ul figure.wp-block-embed.is-type-video.is-provider-youtube.wp-block-embed-youtube {
  width: 25%;
  height: auto;
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.ul-iframe h4,
.iframe-ul h4 {
  font-family: "Anton", sans-serif;
  font-size: 32px;
  color: #d50911;
  line-height: 35px;
  margin-bottom: 25px;
}
@media (max-width: 768px) {
  .ul-iframe h4,
  .iframe-ul h4 {
    letter-spacing: 2px;
    text-align: center;
  }
}
.ul-iframe li,
.iframe-ul li {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .ul-iframe li,
  .iframe-ul li {
    margin-bottom: 20px;
  }
}
.ul-iframe li::marker,
.iframe-ul li::marker {
  color: #d50911;
  font-size: 40px;
  font-family: "Anton", sans-serif;
  display: none;
}
.ul-iframe .organica-conteiner img,
.iframe-ul .organica-conteiner img {
  padding-top: 0;
}

@media (max-width: 768px) {
  .ul-iframe {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .iframe-ul {
    flex-direction: column-reverse;
  }
}

/* PAGE PAS A PAS  */
body.page-pas-a-pas h1,
body.page-paso-a-paso h1,
body.page-- h1 {
  top: -225px;
  line-height: 100px;
}
@media (max-width: 1200px) {
  body.page-pas-a-pas h1,
  body.page-paso-a-paso h1,
  body.page-- h1 {
    top: 0 !important;
  }
}
@media (max-width: 550px) {
  body.page-pas-a-pas h1,
  body.page-paso-a-paso h1,
  body.page-- h1 {
    line-height: 82px;
  }
}
@media (max-width: 500px) {
  body.page-pas-a-pas h1,
  body.page-paso-a-paso h1,
  body.page-- h1 {
    line-height: 60px;
  }
}
body.page-pas-a-pas .home-section-descobreix img,
body.page-paso-a-paso .home-section-descobreix img,
body.page-- .home-section-descobreix img {
  max-width: 500px;
}
body.page-pas-a-pas .iframe-ul .wp-block-group p,
body.page-pas-a-pas .iframe-ul .wp-block-group .wp-block-list,
body.page-pas-a-pas .ul-iframe .wp-block-group p,
body.page-pas-a-pas .ul-iframe .wp-block-group .wp-block-list,
body.page-paso-a-paso .iframe-ul .wp-block-group p,
body.page-paso-a-paso .iframe-ul .wp-block-group .wp-block-list,
body.page-paso-a-paso .ul-iframe .wp-block-group p,
body.page-paso-a-paso .ul-iframe .wp-block-group .wp-block-list,
body.page-- .iframe-ul .wp-block-group p,
body.page-- .iframe-ul .wp-block-group .wp-block-list,
body.page-- .ul-iframe .wp-block-group p,
body.page-- .ul-iframe .wp-block-group .wp-block-list {
  font-family: "Roboto", sans-serif;
  font-size: 32px;
  font-weight: bold;
}
body.page-pas-a-pas .iframe-ul .wp-block-group .wp-block-list,
body.page-pas-a-pas .ul-iframe .wp-block-group .wp-block-list,
body.page-paso-a-paso .iframe-ul .wp-block-group .wp-block-list,
body.page-paso-a-paso .ul-iframe .wp-block-group .wp-block-list,
body.page-- .iframe-ul .wp-block-group .wp-block-list,
body.page-- .ul-iframe .wp-block-group .wp-block-list {
  list-style: none;
  padding-left: 0;
}
body.page-pas-a-pas .iframe-ul .wp-block-group .wp-block-list li,
body.page-pas-a-pas .ul-iframe .wp-block-group .wp-block-list li,
body.page-paso-a-paso .iframe-ul .wp-block-group .wp-block-list li,
body.page-paso-a-paso .ul-iframe .wp-block-group .wp-block-list li,
body.page-- .iframe-ul .wp-block-group .wp-block-list li,
body.page-- .ul-iframe .wp-block-group .wp-block-list li {
  position: relative;
  padding-left: 1.5rem;
}
body.page-pas-a-pas .iframe-ul .wp-block-group .wp-block-list li::before,
body.page-pas-a-pas .ul-iframe .wp-block-group .wp-block-list li::before,
body.page-paso-a-paso .iframe-ul .wp-block-group .wp-block-list li::before,
body.page-paso-a-paso .ul-iframe .wp-block-group .wp-block-list li::before,
body.page-- .iframe-ul .wp-block-group .wp-block-list li::before,
body.page-- .ul-iframe .wp-block-group .wp-block-list li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.2em;
  color: #d50911;
}
body.page-pas-a-pas .wp-block-list.list-bullets li::before,
body.page-paso-a-paso .wp-block-list.list-bullets li::before,
body.page-- .wp-block-list.list-bullets li::before {
  top: 30% !important;
}
body.page-pas-a-pas .first-pasapas,
body.page-paso-a-paso .first-pasapas,
body.page-- .first-pasapas {
  display: flex;
  align-items: center;
  padding-left: 0;
  max-width: 100% !important;
}
@media (max-width: 1200px) {
  body.page-pas-a-pas .first-pasapas,
  body.page-paso-a-paso .first-pasapas,
  body.page-- .first-pasapas {
    flex-direction: column;
  }
}
body.page-pas-a-pas .first-pasapas p,
body.page-paso-a-paso .first-pasapas p,
body.page-- .first-pasapas p {
  font-size: 40px;
  color: #d50911;
  font-family: "Anton", sans-serif;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  body.page-pas-a-pas .first-pasapas p,
  body.page-paso-a-paso .first-pasapas p,
  body.page-- .first-pasapas p {
    letter-spacing: 2px;
  }
}
body.page-pas-a-pas .first-pasapas p:first-child,
body.page-paso-a-paso .first-pasapas p:first-child,
body.page-- .first-pasapas p:first-child {
  background: #d50911;
  color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 55px;
  font-weight: bold;
  line-height: 1;
  padding-bottom: 0px;
}
@media (max-width: 1200px) {
  body.page-pas-a-pas .first-pasapas p:first-child,
  body.page-paso-a-paso .first-pasapas p:first-child,
  body.page-- .first-pasapas p:first-child {
    font-size: 32px;
    width: 50px;
    height: 50px;
  }
}
body.page-pas-a-pas .snd-pasapas,
body.page-paso-a-paso .snd-pasapas,
body.page-- .snd-pasapas {
  display: flex;
  flex-direction: column;
  margin: auto;
}
body.page-pas-a-pas .snd-pasapas .first-pasapas,
body.page-paso-a-paso .snd-pasapas .first-pasapas,
body.page-- .snd-pasapas .first-pasapas {
  padding-right: 0;
}
body.page-pas-a-pas figure.wp-block-gallery,
body.page-paso-a-paso figure.wp-block-gallery,
body.page-- figure.wp-block-gallery {
  justify-content: center;
  max-width: 1000px !important;
  margin: auto;
  gap: 46px;
  padding-top: 50px;
}
@media (max-width: 1200px) {
  body.page-pas-a-pas figure.wp-block-gallery,
  body.page-paso-a-paso figure.wp-block-gallery,
  body.page-- figure.wp-block-gallery {
    max-width: 700px;
    margin: auto;
  }
}
@media (max-width: 520px) {
  body.page-pas-a-pas figure.wp-block-gallery,
  body.page-paso-a-paso figure.wp-block-gallery,
  body.page-- figure.wp-block-gallery {
    flex-direction: column;
    align-items: center;
  }
}
body.page-pas-a-pas figure.wp-block-gallery .bin,
body.page-paso-a-paso figure.wp-block-gallery .bin,
body.page-- figure.wp-block-gallery .bin {
  max-width: 190px !important;
  height: auto;
  background-color: rgb(250, 250, 250);
}
body.page-pas-a-pas figure.wp-block-gallery .bin img,
body.page-paso-a-paso figure.wp-block-gallery .bin img,
body.page-- figure.wp-block-gallery .bin img {
  object-fit: contain !important;
  padding-bottom: 40px;
  width: 141px !important;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
}
body.page-pas-a-pas figure.wp-block-gallery .bin figcaption,
body.page-paso-a-paso figure.wp-block-gallery .bin figcaption,
body.page-- figure.wp-block-gallery .bin figcaption {
  color: black;
  font-size: 15px !important;
  font-family: "Roboto", sans-serif;
  background: transparent;
}
body.page-pas-a-pas .iframe-ul,
body.page-paso-a-paso .iframe-ul,
body.page-- .iframe-ul {
  position: relative;
}
body.page-pas-a-pas .iframe-ul .pasapas-one,
body.page-paso-a-paso .iframe-ul .pasapas-one,
body.page-- .iframe-ul .pasapas-one {
  position: absolute;
  top: 0;
  left: -130px;
}
@media (max-width: 1200px) {
  body.page-pas-a-pas .iframe-ul .pasapas-one,
  body.page-paso-a-paso .iframe-ul .pasapas-one,
  body.page-- .iframe-ul .pasapas-one {
    position: relative;
    left: 0;
  }
}
body.page-pas-a-pas .iframe-ul .rebras-lainfo,
body.page-paso-a-paso .iframe-ul .rebras-lainfo,
body.page-- .iframe-ul .rebras-lainfo {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  font-size: 45px !important;
  font-family: "Anton", sans-serif;
  line-height: normal !important;
}
@media (max-width: 1200px) {
  body.page-pas-a-pas .iframe-ul .rebras-lainfo,
  body.page-paso-a-paso .iframe-ul .rebras-lainfo,
  body.page-- .iframe-ul .rebras-lainfo {
    font-size: 32px !important;
    text-align: center;
  }
}
@media (max-width: 768px) {
  body.page-pas-a-pas .iframe-ul .rebras-lainfo,
  body.page-paso-a-paso .iframe-ul .rebras-lainfo,
  body.page-- .iframe-ul .rebras-lainfo {
    letter-spacing: 2px;
  }
}

.acada-llar {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
  font-size: 32px;
  padding-top: 26px;
  max-width: 870px !important;
  line-height: normal;
  font-weight: bold;
  color: black !important;
}
@media (max-width: 1200px) {
  .acada-llar {
    font-size: 20px !important;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .responsive-paragraph {
    font-size: 20px !important;
  }
  .responsive-paragraph ul,
  .responsive-paragraph li {
    font-size: 20px !important;
  }
}
.responsive-paragraph {
  font-family: "Roboto", sans-serif !important;
  line-height: normal !important;
}

.first-pasapas.third {
  display: flex;
  align-items: center;
  padding-left: 0;
  max-width: 1200px !important;
  justify-content: center;
  margin: auto;
}
.first-pasapas.third p {
  max-width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}
.first-pasapas.third p.tancament {
  font-size: 45px;
  padding-left: 50px;
  padding-top: 21px;
  line-height: normal !important;
}
@media (max-width: 1200px) {
  .first-pasapas.third p.tancament {
    font-size: 32px !important;
    text-align: center;
    padding-left: 0;
  }
}

@media (max-width: 1200px) {
  .recollide-dels-materials.snd-pasapas.wp-block-group.has-background-background-color.has-background.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained {
    padding-top: 50px !important;
  }
  .recollide-dels-materials.snd-pasapas.wp-block-group.has-background-background-color.has-background.has-global-padding.is-layout-constrained.wp-block-group-is-layout-constrained .acada-llar {
    padding-top: 0 !important;
  }
}

/* PAGE CADA RESIDU AL SEU EQUIP */
body.page-cada-residu-al-seu-equip .alseu-equip,
body.page-chaque-dechet-a-son-equipement .alseu-equip,
body.page-pas-a-pas .alseu-equip,
body.page-- .alseu-equip,
body.page-paso-a-paso .alseu-equip,
body.page-cada-residuo-en-su-equipo .alseu-equip,
body.page---- .alseu-equip {
  padding-inline: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained {
  padding-inline: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery {
  max-width: 1200px;
  justify-content: center;
}
@media (max-width: 1200px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery {
    max-width: 800px;
  }
}
@media (max-width: 768px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery {
    max-width: 650px;
  }
}
@media (max-width: 568px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery {
    max-width: 400px;
  }
}
@media (max-width: 359px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery,
  body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery {
    max-width: 300px;
  }
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card {
  width: 167px !important;
  height: 219px;
  position: relative;
  flex: 0 0 auto;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card img,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card img,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card img,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card img,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card img,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card img,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card img {
  border-radius: 10px;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card figcaption,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card figcaption,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card figcaption,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card figcaption,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card figcaption,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card figcaption,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card figcaption {
  display: none;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption {
  display: block;
  position: absolute;
  bottom: 0;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-size: 25px;
  background: none;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE */
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption::-webkit-scrollbar,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption::-webkit-scrollbar,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption::-webkit-scrollbar,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption::-webkit-scrollbar,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption::-webkit-scrollbar,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption::-webkit-scrollbar,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}
@media (max-width: 768px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
  body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
  body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
  body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
  body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption,
  body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover figcaption {
    letter-spacing: 2px;
  }
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover img,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover img,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover img,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover img,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover img,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover img,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card:hover img {
  opacity: 0.9;
  filter: brightness(0.5);
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card::before,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card::before,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card::before,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card::before,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card::before,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card::before,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained figure.wp-block-gallery .wp-block-image.residu-gallery-card::before {
  display: none;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained h3,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained h3,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained h3,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained h3,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained h3,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained h3,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained h3 {
  font-size: 55px;
  font-family: "Anton", sans-serif;
  text-align: center;
  line-height: 82px;
  color: #d50911;
}
@media (max-width: 768px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained h3,
  body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained h3,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained h3,
  body.page-- .residu-gallery.wp-block-group.is-layout-constrained h3,
  body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained h3,
  body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained h3,
  body.page---- .residu-gallery.wp-block-group.is-layout-constrained h3 {
    line-height: 1;
    font-size: 35px;
    padding: 0 20px;
    letter-spacing: 2px;
  }
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained p,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained p,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained p,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained p,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained p,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained p,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained p {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 35px;
  margin-bottom: 20px;
  max-width: 800px;
}
@media (max-width: 768px) {
  body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained p,
  body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained p,
  body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained p,
  body.page-- .residu-gallery.wp-block-group.is-layout-constrained p,
  body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained p,
  body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained p,
  body.page---- .residu-gallery.wp-block-group.is-layout-constrained p {
    font-size: 22px;
    padding: 0 20px;
    line-height: 25px;
  }
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio {
  margin-top: 30px;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio p,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio p,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio p,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio p,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio p,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio p,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio p {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 0;
  padding-bottom: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles {
  color: #d50911;
  margin-bottom: 0;
  padding-bottom: 0;
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p::before,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p::before,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p::before,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p::before,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p::before,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p::before,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p::before {
  content: "";
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  background-image: url("../img/loc.png");
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p.trucans::before,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p.trucans::before,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p.trucans::before,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p.trucans::before,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p.trucans::before,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p.trucans::before,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio .deixaleria-localitzacio-titles p.trucans::before {
  background-image: url("../img/phone.png");
}
body.page-cada-residu-al-seu-equip .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio div,
body.page-chaque-dechet-a-son-equipement .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio div,
body.page-pas-a-pas .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio div,
body.page-- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio div,
body.page-paso-a-paso .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio div,
body.page-cada-residuo-en-su-equipo .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio div,
body.page---- .residu-gallery.wp-block-group.is-layout-constrained.deixaleria .deixaleria-localitzacio div {
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 0;
  margin-top: 10px;
}
body.page-cada-residu-al-seu-equip .section-horaris,
body.page-chaque-dechet-a-son-equipement .section-horaris,
body.page-pas-a-pas .section-horaris,
body.page-- .section-horaris,
body.page-paso-a-paso .section-horaris,
body.page-cada-residuo-en-su-equipo .section-horaris,
body.page---- .section-horaris {
  margin-top: 50px;
  margin-bottom: 100px;
}
body.page-cada-residu-al-seu-equip .section-horaris h5,
body.page-chaque-dechet-a-son-equipement .section-horaris h5,
body.page-pas-a-pas .section-horaris h5,
body.page-- .section-horaris h5,
body.page-paso-a-paso .section-horaris h5,
body.page-cada-residuo-en-su-equipo .section-horaris h5,
body.page---- .section-horaris h5 {
  color: #d50911;
  font-size: 20px;
  font-weight: bold;
}
body.page-cada-residu-al-seu-equip .section-horaris h5::before,
body.page-chaque-dechet-a-son-equipement .section-horaris h5::before,
body.page-pas-a-pas .section-horaris h5::before,
body.page-- .section-horaris h5::before,
body.page-paso-a-paso .section-horaris h5::before,
body.page-cada-residuo-en-su-equipo .section-horaris h5::before,
body.page---- .section-horaris h5::before {
  content: "";
  width: 35px;
  height: 35px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  flex-shrink: 0;
  display: inline-block;
  vertical-align: bottom;
  margin-right: 10px;
  background-image: url("../img/clock.png");
  vertical-align: middle;
}
body.page-cada-residu-al-seu-equip .section-horaris p,
body.page-chaque-dechet-a-son-equipement .section-horaris p,
body.page-pas-a-pas .section-horaris p,
body.page-- .section-horaris p,
body.page-paso-a-paso .section-horaris p,
body.page-cada-residuo-en-su-equipo .section-horaris p,
body.page---- .section-horaris p {
  font-size: 20px;
  font-weight: bold;
}
body.page-cada-residu-al-seu-equip .section-tes-dubtes h3,
body.page-chaque-dechet-a-son-equipement .section-tes-dubtes h3,
body.page-pas-a-pas .section-tes-dubtes h3,
body.page-- .section-tes-dubtes h3,
body.page-paso-a-paso .section-tes-dubtes h3,
body.page-cada-residuo-en-su-equipo .section-tes-dubtes h3,
body.page---- .section-tes-dubtes h3 {
  font-size: 55px;
  font-family: "Anton", sans-serif;
  text-align: center;
  line-height: 82px;
  color: #d50911;
}
@media (max-width: 768px) {
  body.page-cada-residu-al-seu-equip .section-tes-dubtes h3,
  body.page-chaque-dechet-a-son-equipement .section-tes-dubtes h3,
  body.page-pas-a-pas .section-tes-dubtes h3,
  body.page-- .section-tes-dubtes h3,
  body.page-paso-a-paso .section-tes-dubtes h3,
  body.page-cada-residuo-en-su-equipo .section-tes-dubtes h3,
  body.page---- .section-tes-dubtes h3 {
    letter-spacing: 2px;
    font-size: 35px;
  }
}
body.page-cada-residu-al-seu-equip .section-tes-dubtes p,
body.page-chaque-dechet-a-son-equipement .section-tes-dubtes p,
body.page-pas-a-pas .section-tes-dubtes p,
body.page-- .section-tes-dubtes p,
body.page-paso-a-paso .section-tes-dubtes p,
body.page-cada-residuo-en-su-equipo .section-tes-dubtes p,
body.page---- .section-tes-dubtes p {
  font-size: 32px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  line-height: 35px;
  margin-bottom: 20px;
  max-width: 1200px;
}
@media (max-width: 768px) {
  body.page-cada-residu-al-seu-equip .section-tes-dubtes p,
  body.page-chaque-dechet-a-son-equipement .section-tes-dubtes p,
  body.page-pas-a-pas .section-tes-dubtes p,
  body.page-- .section-tes-dubtes p,
  body.page-paso-a-paso .section-tes-dubtes p,
  body.page-cada-residuo-en-su-equipo .section-tes-dubtes p,
  body.page---- .section-tes-dubtes p {
    font-size: 24px;
  }
}
body.page-cada-residu-al-seu-equip .section-tes-dubtes .wp-block-buttons,
body.page-chaque-dechet-a-son-equipement .section-tes-dubtes .wp-block-buttons,
body.page-pas-a-pas .section-tes-dubtes .wp-block-buttons,
body.page-- .section-tes-dubtes .wp-block-buttons,
body.page-paso-a-paso .section-tes-dubtes .wp-block-buttons,
body.page-cada-residuo-en-su-equipo .section-tes-dubtes .wp-block-buttons,
body.page---- .section-tes-dubtes .wp-block-buttons {
  margin-bottom: 100px;
}

body.page-cada-residu-al-seu-equip h1.wp-block-heading,
body.page-chaque-dechet-a-son-equipement h1.wp-block-heading,
body.page-cada-residuo-en-su-equipo h1.wp-block-heading {
  top: -200px;
}
@media (max-width: 1200px) {
  body.page-cada-residu-al-seu-equip h1.wp-block-heading,
  body.page-chaque-dechet-a-son-equipement h1.wp-block-heading,
  body.page-cada-residuo-en-su-equipo h1.wp-block-heading {
    top: 0;
  }
}
body.page-cada-residu-al-seu-equip .deixaleria-localitzacio.mobile,
body.page-chaque-dechet-a-son-equipement .deixaleria-localitzacio.mobile,
body.page-cada-residuo-en-su-equipo .deixaleria-localitzacio.mobile {
  display: none;
}
@media (max-width: 1200px) {
  body.page-cada-residu-al-seu-equip .deixaleria-localitzacio.desktop,
  body.page-chaque-dechet-a-son-equipement .deixaleria-localitzacio.desktop,
  body.page-cada-residuo-en-su-equipo .deixaleria-localitzacio.desktop {
    display: none;
  }
  body.page-cada-residu-al-seu-equip .deixaleria-localitzacio.mobile,
  body.page-chaque-dechet-a-son-equipement .deixaleria-localitzacio.mobile,
  body.page-cada-residuo-en-su-equipo .deixaleria-localitzacio.mobile {
    display: block;
  }
  body.page-cada-residu-al-seu-equip .deixaleria-localitzacio-titles,
  body.page-chaque-dechet-a-son-equipement .deixaleria-localitzacio-titles,
  body.page-cada-residuo-en-su-equipo .deixaleria-localitzacio-titles {
    display: flex;
    flex-direction: column;
  }
  body.page-cada-residu-al-seu-equip .deixaleria-localitzacio-titles .deixalleria-item-one,
  body.page-chaque-dechet-a-son-equipement .deixaleria-localitzacio-titles .deixalleria-item-one,
  body.page-cada-residuo-en-su-equipo .deixaleria-localitzacio-titles .deixalleria-item-one {
    order: 1;
  }
  body.page-cada-residu-al-seu-equip .deixaleria-localitzacio-titles .deixalleria-item-three,
  body.page-chaque-dechet-a-son-equipement .deixaleria-localitzacio-titles .deixalleria-item-three,
  body.page-cada-residuo-en-su-equipo .deixaleria-localitzacio-titles .deixalleria-item-three {
    order: 2;
    color: black;
  }
  body.page-cada-residu-al-seu-equip .deixaleria-localitzacio-titles .deixalleria-item-three::before,
  body.page-chaque-dechet-a-son-equipement .deixaleria-localitzacio-titles .deixalleria-item-three::before,
  body.page-cada-residuo-en-su-equipo .deixaleria-localitzacio-titles .deixalleria-item-three::before {
    display: none !important;
  }
  body.page-cada-residu-al-seu-equip .deixaleria-localitzacio-titles .deixalleria-item-two,
  body.page-chaque-dechet-a-son-equipement .deixaleria-localitzacio-titles .deixalleria-item-two,
  body.page-cada-residuo-en-su-equipo .deixaleria-localitzacio-titles .deixalleria-item-two {
    order: 3;
  }
  body.page-cada-residu-al-seu-equip .deixaleria-localitzacio-titles .deixalleria-item-four,
  body.page-chaque-dechet-a-son-equipement .deixaleria-localitzacio-titles .deixalleria-item-four,
  body.page-cada-residuo-en-su-equipo .deixaleria-localitzacio-titles .deixalleria-item-four {
    order: 4;
    color: black;
  }
  body.page-cada-residu-al-seu-equip .deixaleria-localitzacio-titles .deixalleria-item-four::before,
  body.page-chaque-dechet-a-son-equipement .deixaleria-localitzacio-titles .deixalleria-item-four::before,
  body.page-cada-residuo-en-su-equipo .deixaleria-localitzacio-titles .deixalleria-item-four::before {
    display: none !important;
  }
}

/* PAGE PREG FREQUENTES  */
body.page-preguntes-frequents h1.wp-block-heading,
body.page-questions-frequentes h1.wp-block-heading,
body.page-preguntas-frecuentes h1.wp-block-heading,
body.page-- h1.wp-block-heading {
  line-height: 95px;
  top: -200px;
}
@media (max-width: 1200px) {
  body.page-preguntes-frequents h1.wp-block-heading,
  body.page-questions-frequentes h1.wp-block-heading,
  body.page-preguntas-frecuentes h1.wp-block-heading,
  body.page-- h1.wp-block-heading {
    top: 0;
  }
}
@media (max-width: 768px) {
  body.page-preguntes-frequents h1.wp-block-heading,
  body.page-questions-frequentes h1.wp-block-heading,
  body.page-preguntas-frecuentes h1.wp-block-heading,
  body.page-- h1.wp-block-heading {
    line-height: 75px;
  }
}
@media (max-width: 568px) {
  body.page-preguntes-frequents h1.wp-block-heading,
  body.page-questions-frequentes h1.wp-block-heading,
  body.page-preguntas-frecuentes h1.wp-block-heading,
  body.page-- h1.wp-block-heading {
    line-height: 55px;
  }
}
body.page-preguntes-frequents .detail-container,
body.page-questions-frequentes .detail-container,
body.page-preguntas-frecuentes .detail-container,
body.page-- .detail-container {
  max-width: 1200px;
  margin: auto;
  margin-bottom: 100px;
}
@media (max-width: 1350px) {
  body.page-preguntes-frequents .detail-container,
  body.page-questions-frequentes .detail-container,
  body.page-preguntas-frecuentes .detail-container,
  body.page-- .detail-container {
    max-width: 1000px;
  }
}
@media (max-width: 1200px) {
  body.page-preguntes-frequents .detail-container,
  body.page-questions-frequentes .detail-container,
  body.page-preguntas-frecuentes .detail-container,
  body.page-- .detail-container {
    max-width: 700px;
  }
}
@media (max-width: 845px) {
  body.page-preguntes-frequents .detail-container,
  body.page-questions-frequentes .detail-container,
  body.page-preguntas-frecuentes .detail-container,
  body.page-- .detail-container {
    max-width: 600px;
  }
}
@media (max-width: 720px) {
  body.page-preguntes-frequents .detail-container,
  body.page-questions-frequentes .detail-container,
  body.page-preguntas-frecuentes .detail-container,
  body.page-- .detail-container {
    max-width: 500px;
  }
}
@media (max-width: 600px) {
  body.page-preguntes-frequents .detail-container,
  body.page-questions-frequentes .detail-container,
  body.page-preguntas-frecuentes .detail-container,
  body.page-- .detail-container {
    max-width: 355px;
  }
}
@media (max-width: 500px) {
  body.page-preguntes-frequents .detail-container,
  body.page-questions-frequentes .detail-container,
  body.page-preguntas-frecuentes .detail-container,
  body.page-- .detail-container {
    max-width: 325px;
  }
}
@media (max-width: 450px) {
  body.page-preguntes-frequents .detail-container,
  body.page-questions-frequentes .detail-container,
  body.page-preguntas-frecuentes .detail-container,
  body.page-- .detail-container {
    max-width: 250px;
  }
}
@media (max-width: 350px) {
  body.page-preguntes-frequents .detail-container,
  body.page-questions-frequentes .detail-container,
  body.page-preguntas-frecuentes .detail-container,
  body.page-- .detail-container {
    max-width: 200px;
  }
}
body.page-preguntes-frequents .detail-container summary,
body.page-questions-frequentes .detail-container summary,
body.page-preguntas-frecuentes .detail-container summary,
body.page-- .detail-container summary {
  color: black;
  font-size: 35px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
@media (max-width: 768px) {
  body.page-preguntes-frequents .detail-container summary,
  body.page-questions-frequentes .detail-container summary,
  body.page-preguntas-frecuentes .detail-container summary,
  body.page-- .detail-container summary {
    font-size: 28px;
  }
}
@media (max-width: 568px) {
  body.page-preguntes-frequents .detail-container summary,
  body.page-questions-frequentes .detail-container summary,
  body.page-preguntas-frecuentes .detail-container summary,
  body.page-- .detail-container summary {
    font-size: 24px;
  }
}
body.page-preguntes-frequents .detail-container details,
body.page-questions-frequentes .detail-container details,
body.page-preguntas-frecuentes .detail-container details,
body.page-- .detail-container details {
  position: relative;
  padding-left: 20px;
}
body.page-preguntes-frequents .detail-container details::before,
body.page-questions-frequentes .detail-container details::before,
body.page-preguntas-frecuentes .detail-container details::before,
body.page-- .detail-container details::before {
  content: "?";
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.2em;
  background-color: #d50911;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
}
body.page-preguntes-frequents .detail-container details[open] summary strong,
body.page-questions-frequentes .detail-container details[open] summary strong,
body.page-preguntas-frecuentes .detail-container details[open] summary strong,
body.page-- .detail-container details[open] summary strong {
  color: #d50911;
}
body.page-preguntes-frequents .detail-container details[open]::before,
body.page-questions-frequentes .detail-container details[open]::before,
body.page-preguntas-frecuentes .detail-container details[open]::before,
body.page-- .detail-container details[open]::before {
  top: 36px;
}
body.page-preguntes-frequents .detail-container p,
body.page-questions-frequentes .detail-container p,
body.page-preguntas-frecuentes .detail-container p,
body.page-- .detail-container p {
  font-size: 24px;
}
@media (max-width: 768px) {
  body.page-preguntes-frequents .detail-container p,
  body.page-questions-frequentes .detail-container p,
  body.page-preguntas-frecuentes .detail-container p,
  body.page-- .detail-container p {
    font-size: 24px;
    line-height: normal;
  }
}
@media (max-width: 568px) {
  body.page-preguntes-frequents .detail-container p,
  body.page-questions-frequentes .detail-container p,
  body.page-preguntas-frecuentes .detail-container p,
  body.page-- .detail-container p {
    font-size: 22px;
  }
}
body.page-preguntes-frequents,
body.page-questions-frequentes,
body.page-preguntas-frecuentes,
body.page-- {
  /* Oculta el marcador en Chrome, Safari y Edge */
}
body.page-preguntes-frequents summary::-webkit-details-marker,
body.page-questions-frequentes summary::-webkit-details-marker,
body.page-preguntas-frecuentes summary::-webkit-details-marker,
body.page-- summary::-webkit-details-marker {
  display: none;
}
body.page-preguntes-frequents,
body.page-questions-frequentes,
body.page-preguntas-frecuentes,
body.page-- {
  /* Para compatibilidad con Firefox */
}
body.page-preguntes-frequents summary,
body.page-questions-frequentes summary,
body.page-preguntas-frecuentes summary,
body.page-- summary {
  list-style: none;
}
body.page-preguntes-frequents,
body.page-questions-frequentes,
body.page-preguntas-frecuentes,
body.page-- {
  /* Opcional: Ocultar el marcador en navegadores que soportan list-style en summary */
}
body.page-preguntes-frequents summary::-moz-list-bullet,
body.page-questions-frequentes summary::-moz-list-bullet,
body.page-preguntas-frecuentes summary::-moz-list-bullet,
body.page-- summary::-moz-list-bullet {
  list-style: none;
  display: none;
}

/* TEMPLATE NOTICIAS  */
body.blog h2 {
  background-image: none;
  color: #d50911;
  font-size: 75px !important;
  font-family: "Anton", sans-serif;
  text-align: center;
  padding: 0;
}
@media (max-width: 768px) {
  body.blog h2 {
    font-size: 24px;
    letter-spacing: 1px;
  }
}
@media (max-width: 1200px) {
  body.blog ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 768px) {
  body.blog ul {
    grid-template-columns: 1fr;
  }
}

/* NOT FOUND */
body.error404 .not-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body.error404 .not-found-container h1.wp-block-heading {
  position: relative;
  top: 0;
  text-align: center;
  color: #d50911;
}
body.error404 .not-found-container p {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  text-align: left;
  margin-bottom: 20px;
  max-width: 1200px;
  font-weight: bold;
}

/*# sourceMappingURL=pages.css.map */
