$primary: #EA0000;
$gray: rgba(250, 250, 250, 1);
$gradient: linear-gradient(90deg, #EA0000 0%, #FF9300 100%);
$gradient-brown: linear-gradient(90deg, #3F1C07 0%, #895747 100%);
$gradient-green: linear-gradient(90deg, #1A8C2E 0%, #42EF25 100%);
$gradient-blue: linear-gradient(90deg, #1D29EB 0%, #3893F9 100%);
$gradient-yellow: linear-gradient(90deg, #D42C00 0%, #E6C613 100%);
$gradient-gray: linear-gradient(90deg, #5C6568 0%, #708383 100%);

$secondary: #ffd166;
$dark: #1a1a1a;
$light: #ffffff;

$font-main: "Roboto", sans-serif;
$font-heading: "Anton", sans-serif;

$section-padding: 0 30px;