$primary: #EA0000;
$gray: rgba(250, 250, 250, 1);
$gradient: linear-gradient(90deg, #d51116 0%, #f6a307 100%);
$gradient-brown: linear-gradient(90deg, #9f6c51 0%, #5d3313 100%);
$gradient-green: linear-gradient(90deg, #42a650 0%, #0f704d 100%);
$gradient-blue: linear-gradient(90deg, #317fc2 0%, #253c8a 100%);
$gradient-yellow: linear-gradient(90deg, #eec912 0%, #d27212 100%);
$gradient-gray: linear-gradient(90deg, #5c6569 0%, #888989 100%);

$secondary: #ffd166;
$dark: #1a1a1a;
$light: #ffffff;

$font-main: "Roboto", sans-serif;
$font-heading: "Anton", sans-serif;

$section-padding: 0 30px;