@use "variables" as v;

@mixin main-button {
  background: white;
  color: black;
  border: 2px solid transparent;
  border-radius: 40px;
  font-weight: 700;
  font-size: 18px;
  font-family: v.$font-main;
  padding: 12px 24px;
  max-width: 183px;
  text-align: center;
  height: 48px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;

  /* Gradient border */
  background-image:
    linear-gradient(white, white),
    linear-gradient(90deg, #FF0000 0%, #FF9400 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  &:hover {
    background-image: linear-gradient(90deg, #FF0000 0%, #FF9400 100%);
    color: white;
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}



@mixin section-title {
  font-family: v.$font-heading;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  background-image: linear-gradient(90deg, #FF0000 0%, #FF9400 100%);
  color: white;
  padding: 59px 39px;
  margin-bottom: 120px !important;
}

@mixin heading-h3 {
  font-size: 45px;
  text-align: center;
  letter-spacing: 2px;
  line-height: 1;
  font-weight: bold;
  font-family: v.$font-heading;
  text-transform: uppercase;
  padding-bottom: 65px;
}